In [1]:
import pandas as pd

In [2]:
cny = pd.read_csv('../test_feature/CNY_KRW.csv')
cny

              날짜      종가      시가      고가      저가  거래량    변동 %
0   2023- 11- 03  180.20  182.37  182.63  180.14  NaN  -1.13%
1   2023- 11- 02  182.27  184.32  184.40  181.57  NaN  -1.03%
2   2023- 11- 01  184.17  184.89  185.77  184.23  NaN  -0.34%
3   2023- 10- 31  184.79  184.11  185.32  183.95  NaN   0.43%
4   2023- 10- 30  183.99  185.46  185.51  183.98  NaN  -0.63%
5   2023- 10- 27  185.16  185.02  185.63  184.23  NaN   0.15%
6   2023- 10- 26  184.88  184.89  185.93  184.73  NaN   0.04%
7   2023- 10- 25  184.81  183.90  185.07  183.75  NaN   0.54%
8   2023- 10- 24  183.82  183.66  184.37  183.40  NaN   0.20%
9   2023- 10- 23  183.45  184.57  185.21  183.53  NaN  -0.50%
10  2023- 10- 20  184.37  185.57  185.94  184.40  NaN  -0.55%
11  2023- 10- 19  185.39  185.29  185.99  184.95  NaN   0.18%
12  2023- 10- 18  185.06  185.10  185.64  184.39  NaN   0.05%
13  2023- 10- 17  184.96  184.41  185.66  184.26  NaN   0.33%
14  2023- 10- 16  184.36  185.21  185.54  184.34  NaN  -0.38%
15  2023- 10- 13  185.06  184.78  185.32  184.46  NaN   0.19%
16  2023- 10- 12  184.70  183.49  185.09  182.97  NaN   0.75%
17  2023- 10- 11  183.32  184.02  184.21  183.23  NaN  -0.27%
18  2023- 10- 10  183.82  184.81  185.50  183.93  NaN  -0.47%
19  2023- 10- 09  184.68  184.14  185.78  184.10  NaN   0.29%
20  2023- 10- 06  184.14  184.39  185.87  183.90  NaN  -0.08%
21  2023- 10- 05  184.29  185.21  185.50  184.20  NaN  -0.44%
22  2023- 10- 04  185.10  186.54  186.83  184.90  NaN  -0.70%
23  2023- 10- 03  186.40  185.88  186.77  185.57  NaN   0.39%

In [3]:
cny = cny[::-1]

In [4]:
cny = cny.reset_index()

In [5]:
cny = cny[['날짜', '종가', '시가']]

In [6]:
cny['종가'] = cny['종가'].shift(1)

In [7]:
cny['야간 변동률'] = round((cny['시가'] - cny['종가']) / cny['종가'] * 100, 3)

In [8]:
cny = cny.dropna()

In [11]:
cny = cny[4:]

In [12]:
cny = cny.reset_index(drop=True)

In [13]:
cny['날짜'] = pd.to_datetime(cny['날짜'])

In [14]:
cny

           날짜      종가      시가  야간 변동률
0  2023-10-10  184.68  184.81   0.070
1  2023-10-11  183.82  184.02   0.109
2  2023-10-12  183.32  183.49   0.093
3  2023-10-13  184.70  184.78   0.043
4  2023-10-16  185.06  185.21   0.081
5  2023-10-17  184.36  184.41   0.027
6  2023-10-18  184.96  185.10   0.076
7  2023-10-19  185.06  185.29   0.124
8  2023-10-20  185.39  185.57   0.097
9  2023-10-23  184.37  184.57   0.108
10 2023-10-24  183.45  183.66   0.114
11 2023-10-25  183.82  183.90   0.044
12 2023-10-26  184.81  184.89   0.043
13 2023-10-27  184.88  185.02   0.076
14 2023-10-30  185.16  185.46   0.162
15 2023-10-31  183.99  184.11   0.065
16 2023-11-01  184.79  184.89   0.054
17 2023-11-02  184.17  184.32   0.081
18 2023-11-03  182.27  182.37   0.055

In [15]:
cny.reset_index(drop=True)[['날짜', '야간 변동률']].to_csv("../test_feature/clean_feature/cny.csv")