In [1]:
import pandas as pd

In [2]:
jpy = pd.read_csv("../test_feature/JPY_KRW.csv")
jpy

              날짜      종가      시가      고가      저가  거래량    변동 %
0   2023- 11- 03  8.7873  8.8659  8.8797  8.7799  NaN  -0.86%
1   2023- 11- 02  8.8640  8.9350  8.9620  8.8406  NaN  -0.71%
2   2023- 11- 01  8.9277  8.9191  8.9930  8.9124  NaN   0.16%
3   2023- 10- 31  8.9133  9.0299  9.0455  8.9060  NaN  -1.22%
4   2023- 10- 30  9.0232  9.0695  9.0727  8.9970  NaN  -0.35%
5   2023- 10- 27  9.0551  9.0001  9.0828  8.9725  NaN   0.69%
6   2023- 10- 26  8.9934  9.0070  9.0736  8.9930  NaN  -0.08%
7   2023- 10- 25  9.0007  8.9674  9.0288  8.9621  NaN   0.41%
8   2023- 10- 24  8.9640  8.9736  9.0005  8.9619  NaN   0.00%
9   2023- 10- 23  8.9636  9.0147  9.0395  8.9672  NaN  -0.42%
10  2023- 10- 20  9.0017  9.0605  9.0761  8.9973  NaN  -0.56%
11  2023- 10- 19  9.0528  9.0396  9.0820  9.0277  NaN   0.26%
12  2023- 10- 18  9.0293  9.0347  9.0670  9.0044  NaN  -0.01%
13  2023- 10- 17  9.0301  9.0180  9.0728  9.0041  NaN   0.17%
14  2023- 10- 16  9.0146  9.0518  9.0732  9.0120  NaN  -0.29%
15  2023- 10- 13  9.0406  9.0077  9.0552  8.9953  NaN   0.40%
16  2023- 10- 12  9.0045  8.9812  9.0260  8.9482  NaN   0.36%
17  2023- 10- 11  8.9718  9.0281  9.0423  8.9667  NaN  -0.52%
18  2023- 10- 10  9.0186  9.0749  9.1004  9.0223  NaN  -0.56%
19  2023- 10- 09  9.0698  9.0201  9.1013  9.0075  NaN   0.74%
20  2023- 10- 06  9.0031  9.0657  9.0893  8.9945  NaN  -0.64%
21  2023- 10- 05  9.0609  9.0684  9.1066  9.0553  NaN  -0.03%
22  2023- 10- 04  9.0633  9.1394  9.1515  9.0633  NaN  -0.76%
23  2023- 10- 03  9.1323  9.0562  9.2484  9.0409  NaN   0.95%

In [3]:
jpy = jpy[::-1]

In [4]:
jpy = jpy.reset_index()

In [5]:
jpy = jpy[['날짜', '종가', '시가']]

In [6]:
jpy

              날짜      종가      시가
0   2023- 10- 03  9.1323  9.0562
1   2023- 10- 04  9.0633  9.1394
2   2023- 10- 05  9.0609  9.0684
3   2023- 10- 06  9.0031  9.0657
4   2023- 10- 09  9.0698  9.0201
5   2023- 10- 10  9.0186  9.0749
6   2023- 10- 11  8.9718  9.0281
7   2023- 10- 12  9.0045  8.9812
8   2023- 10- 13  9.0406  9.0077
9   2023- 10- 16  9.0146  9.0518
10  2023- 10- 17  9.0301  9.0180
11  2023- 10- 18  9.0293  9.0347
12  2023- 10- 19  9.0528  9.0396
13  2023- 10- 20  9.0017  9.0605
14  2023- 10- 23  8.9636  9.0147
15  2023- 10- 24  8.9640  8.9736
16  2023- 10- 25  9.0007  8.9674
17  2023- 10- 26  8.9934  9.0070
18  2023- 10- 27  9.0551  9.0001
19  2023- 10- 30  9.0232  9.0695
20  2023- 10- 31  8.9133  9.0299
21  2023- 11- 01  8.9277  8.9191
22  2023- 11- 02  8.8640  8.9350
23  2023- 11- 03  8.7873  8.8659

In [8]:
jpy['종가'] = jpy['종가'].shift(1)

In [9]:
jpy['야간 변동률'] = round((jpy['시가'] - jpy['종가']) / jpy['종가'] * 100, 3)

In [10]:
jpy = jpy.dropna()

In [11]:
jpy

              날짜      종가      시가  야간 변동률
1   2023- 10- 04  9.1323  9.1394   0.078
2   2023- 10- 05  9.0633  9.0684   0.056
3   2023- 10- 06  9.0609  9.0657   0.053
4   2023- 10- 09  9.0031  9.0201   0.189
5   2023- 10- 10  9.0698  9.0749   0.056
6   2023- 10- 11  9.0186  9.0281   0.105
7   2023- 10- 12  8.9718  8.9812   0.105
8   2023- 10- 13  9.0045  9.0077   0.036
9   2023- 10- 16  9.0406  9.0518   0.124
10  2023- 10- 17  9.0146  9.0180   0.038
11  2023- 10- 18  9.0301  9.0347   0.051
12  2023- 10- 19  9.0293  9.0396   0.114
13  2023- 10- 20  9.0528  9.0605   0.085
14  2023- 10- 23  9.0017  9.0147   0.144
15  2023- 10- 24  8.9636  8.9736   0.112
16  2023- 10- 25  8.9640  8.9674   0.038
17  2023- 10- 26  9.0007  9.0070   0.070
18  2023- 10- 27  8.9934  9.0001   0.074
19  2023- 10- 30  9.0551  9.0695   0.159
20  2023- 10- 31  9.0232  9.0299   0.074
21  2023- 11- 01  8.9133  8.9191   0.065
22  2023- 11- 02  8.9277  8.9350   0.082
23  2023- 11- 03  8.8640  8.8659   0.021

In [13]:
jpy = jpy[4:]

In [14]:
jpy = jpy.reset_index(drop=True)

In [15]:
jpy['날짜'] = pd.to_datetime(jpy['날짜'])

In [ ]:
jpy[['날짜', '야간 변동률']].reset_index(drop=True).to_csv('../test_feature/clean_feature/jpy.csv')

In [16]:
jpy

           날짜      종가      시가  야간 변동률
0  2023-10-10  9.0698  9.0749   0.056
1  2023-10-11  9.0186  9.0281   0.105
2  2023-10-12  8.9718  8.9812   0.105
3  2023-10-13  9.0045  9.0077   0.036
4  2023-10-16  9.0406  9.0518   0.124
5  2023-10-17  9.0146  9.0180   0.038
6  2023-10-18  9.0301  9.0347   0.051
7  2023-10-19  9.0293  9.0396   0.114
8  2023-10-20  9.0528  9.0605   0.085
9  2023-10-23  9.0017  9.0147   0.144
10 2023-10-24  8.9636  8.9736   0.112
11 2023-10-25  8.9640  8.9674   0.038
12 2023-10-26  9.0007  9.0070   0.070
13 2023-10-27  8.9934  9.0001   0.074
14 2023-10-30  9.0551  9.0695   0.159
15 2023-10-31  9.0232  9.0299   0.074
16 2023-11-01  8.9133  8.9191   0.065
17 2023-11-02  8.9277  8.9350   0.082
18 2023-11-03  8.8640  8.8659   0.021