In [26]:
import pandas as pd

In [27]:
snp = pd.read_csv("../test_feature/S&P500.csv")
snp

              날짜        종가        시가        고가        저가  거래량    변동 %
0   2023- 11- 02  4,317.78  4,268.26  4,319.72  4,268.26  NaN   1.89%
1   2023- 11- 01  4,237.86  4,201.27  4,245.64  4,197.74  NaN   1.05%
2   2023- 10- 31  4,193.80  4,171.33  4,195.55  4,153.12  NaN   0.65%
3   2023- 10- 30  4,166.82  4,139.39  4,177.47  4,132.94  NaN   1.20%
4   2023- 10- 27  4,117.37  4,152.93  4,156.70  4,103.78  NaN  -0.48%
5   2023- 10- 26  4,137.23  4,175.99  4,183.60  4,127.90  NaN  -1.18%
6   2023- 10- 25  4,186.77  4,232.42  4,232.42  4,181.42  NaN  -1.43%
7   2023- 10- 24  4,247.68  4,235.79  4,259.38  4,219.43  NaN   0.73%
8   2023- 10- 23  4,217.04  4,210.40  4,255.84  4,189.22  NaN  -0.17%
9   2023- 10- 20  4,224.16  4,273.85  4,276.56  4,223.03  NaN  -1.26%
10  2023- 10- 19  4,278.00  4,321.36  4,339.54  4,269.69  NaN  -0.85%
11  2023- 10- 18  4,314.60  4,357.35  4,364.20  4,303.84  NaN  -1.34%
12  2023- 10- 17  4,373.20  4,345.23  4,393.57  4,337.54  NaN  -0.01%
13  2023- 10- 16  4,373.63  4,342.37  4,383.33  4,342.37  NaN   1.06%
14  2023- 10- 13  4,327.78  4,360.49  4,377.10  4,311.97  NaN  -0.50%
15  2023- 10- 12  4,349.61  4,380.94  4,385.85  4,325.43  NaN  -0.62%
16  2023- 10- 11  4,376.95  4,366.59  4,378.64  4,345.34  NaN   0.43%
17  2023- 10- 10  4,358.24  4,339.75  4,385.46  4,339.64  NaN   0.52%
18  2023- 10- 09  4,335.66  4,289.02  4,341.73  4,283.79  NaN   0.63%
19  2023- 10- 06  4,308.50  4,234.79  4,324.10  4,219.55  NaN   1.18%
20  2023- 10- 05  4,258.19  4,259.31  4,267.13  4,225.91  NaN  -0.13%
21  2023- 10- 04  4,263.75  4,233.83  4,268.50  4,220.48  NaN   0.81%
22  2023- 10- 03  4,229.45  4,269.75  4,281.15  4,216.45  NaN  -1.37%

In [28]:
new_row = {'날짜':['2023- 11- 03']}
new_row = pd.DataFrame(new_row)
new_row.index = [0]
snp = pd.concat([new_row, snp], ignore_index=True)
snp

              날짜        종가        시가        고가        저가  거래량    변동 %
0   2023- 11- 03       NaN       NaN       NaN       NaN  NaN     NaN
1   2023- 11- 02  4,317.78  4,268.26  4,319.72  4,268.26  NaN   1.89%
2   2023- 11- 01  4,237.86  4,201.27  4,245.64  4,197.74  NaN   1.05%
3   2023- 10- 31  4,193.80  4,171.33  4,195.55  4,153.12  NaN   0.65%
4   2023- 10- 30  4,166.82  4,139.39  4,177.47  4,132.94  NaN   1.20%
5   2023- 10- 27  4,117.37  4,152.93  4,156.70  4,103.78  NaN  -0.48%
6   2023- 10- 26  4,137.23  4,175.99  4,183.60  4,127.90  NaN  -1.18%
7   2023- 10- 25  4,186.77  4,232.42  4,232.42  4,181.42  NaN  -1.43%
8   2023- 10- 24  4,247.68  4,235.79  4,259.38  4,219.43  NaN   0.73%
9   2023- 10- 23  4,217.04  4,210.40  4,255.84  4,189.22  NaN  -0.17%
10  2023- 10- 20  4,224.16  4,273.85  4,276.56  4,223.03  NaN  -1.26%
11  2023- 10- 19  4,278.00  4,321.36  4,339.54  4,269.69  NaN  -0.85%
12  2023- 10- 18  4,314.60  4,357.35  4,364.20  4,303.84  NaN  -1.34%
13  2023- 10- 17  4,373.20  4,345.23  4,393.57  4,337.54  NaN  -0.01%
14  2023- 10- 16  4,373.63  4,342.37  4,383.33  4,342.37  NaN   1.06%
15  2023- 10- 13  4,327.78  4,360.49  4,377.10  4,311.97  NaN  -0.50%
16  2023- 10- 12  4,349.61  4,380.94  4,385.85  4,325.43  NaN  -0.62%
17  2023- 10- 11  4,376.95  4,366.59  4,378.64  4,345.34  NaN   0.43%
18  2023- 10- 10  4,358.24  4,339.75  4,385.46  4,339.64  NaN   0.52%
19  2023- 10- 09  4,335.66  4,289.02  4,341.73  4,283.79  NaN   0.63%
20  2023- 10- 06  4,308.50  4,234.79  4,324.10  4,219.55  NaN   1.18%
21  2023- 10- 05  4,258.19  4,259.31  4,267.13  4,225.91  NaN  -0.13%
22  2023- 10- 04  4,263.75  4,233.83  4,268.50  4,220.48  NaN   0.81%
23  2023- 10- 03  4,229.45  4,269.75  4,281.15  4,216.45  NaN  -1.37%

In [29]:
snp = snp[::-1]

In [30]:
snp = snp.reset_index(drop=True)

In [31]:
snp['변동 %'] = snp['변동 %'].astype(str)
snp["변동 %"] = snp["변동 %"].str.rstrip('%')
snp["변동 %"] = snp["변동 %"].astype(float)

snp["시가"] = snp["시가"].str.replace(',', '')
snp["시가"] = snp["시가"].astype(float)

snp["종가"] = snp["종가"].str.replace(',', '')
snp["종가"] = snp["종가"].astype(float)

snp["고가"] = snp["고가"].str.replace(',', '')
snp["고가"] = snp["고가"].astype(float)

snp["저가"] = snp["저가"].str.replace(',', '')
snp["저가"] = snp["저가"].astype(float)

In [32]:
snp['변동 %'] = snp['변동 %'].shift(1)
snp

              날짜       종가       시가       고가       저가  거래량  변동 %
0   2023- 10- 03  4229.45  4269.75  4281.15  4216.45  NaN   NaN
1   2023- 10- 04  4263.75  4233.83  4268.50  4220.48  NaN -1.37
2   2023- 10- 05  4258.19  4259.31  4267.13  4225.91  NaN  0.81
3   2023- 10- 06  4308.50  4234.79  4324.10  4219.55  NaN -0.13
4   2023- 10- 09  4335.66  4289.02  4341.73  4283.79  NaN  1.18
5   2023- 10- 10  4358.24  4339.75  4385.46  4339.64  NaN  0.63
6   2023- 10- 11  4376.95  4366.59  4378.64  4345.34  NaN  0.52
7   2023- 10- 12  4349.61  4380.94  4385.85  4325.43  NaN  0.43
8   2023- 10- 13  4327.78  4360.49  4377.10  4311.97  NaN -0.62
9   2023- 10- 16  4373.63  4342.37  4383.33  4342.37  NaN -0.50
10  2023- 10- 17  4373.20  4345.23  4393.57  4337.54  NaN  1.06
11  2023- 10- 18  4314.60  4357.35  4364.20  4303.84  NaN -0.01
12  2023- 10- 19  4278.00  4321.36  4339.54  4269.69  NaN -1.34
13  2023- 10- 20  4224.16  4273.85  4276.56  4223.03  NaN -0.85
14  2023- 10- 23  4217.04  4210.40  4255.84  4189.22  NaN -1.26
15  2023- 10- 24  4247.68  4235.79  4259.38  4219.43  NaN -0.17
16  2023- 10- 25  4186.77  4232.42  4232.42  4181.42  NaN  0.73
17  2023- 10- 26  4137.23  4175.99  4183.60  4127.90  NaN -1.43
18  2023- 10- 27  4117.37  4152.93  4156.70  4103.78  NaN -1.18
19  2023- 10- 30  4166.82  4139.39  4177.47  4132.94  NaN -0.48
20  2023- 10- 31  4193.80  4171.33  4195.55  4153.12  NaN  1.20
21  2023- 11- 01  4237.86  4201.27  4245.64  4197.74  NaN  0.65
22  2023- 11- 02  4317.78  4268.26  4319.72  4268.26  NaN  1.05
23  2023- 11- 03      NaN      NaN      NaN      NaN  NaN  1.89

In [33]:
snp['당일 변동률'] = round((snp['종가'] - snp['시가']) / snp['시가'] * 100, 3)
snp['당일 변화량'] = round(snp['고가'] - snp['저가'], 3)

In [34]:
snp['당일 변동률'] = snp['당일 변동률'].shift(1)
snp['당일 변화량'] = snp['당일 변화량'].shift(1)

In [35]:
snp = snp[5:]

In [36]:
snp = snp.reset_index(drop=True)

In [37]:
snp['날짜'] = pd.to_datetime(snp['날짜'])

In [38]:
snp

           날짜       종가       시가       고가       저가  거래량  변동 %  당일 변동률  당일 변화량
0  2023-10-10  4358.24  4339.75  4385.46  4339.64  NaN  0.63   1.087   57.94
1  2023-10-11  4376.95  4366.59  4378.64  4345.34  NaN  0.52   0.426   45.82
2  2023-10-12  4349.61  4380.94  4385.85  4325.43  NaN  0.43   0.237   33.30
3  2023-10-13  4327.78  4360.49  4377.10  4311.97  NaN -0.62  -0.715   60.42
4  2023-10-16  4373.63  4342.37  4383.33  4342.37  NaN -0.50  -0.750   65.13
5  2023-10-17  4373.20  4345.23  4393.57  4337.54  NaN  1.06   0.720   40.96
6  2023-10-18  4314.60  4357.35  4364.20  4303.84  NaN -0.01   0.644   56.03
7  2023-10-19  4278.00  4321.36  4339.54  4269.69  NaN -1.34  -0.981   60.36
8  2023-10-20  4224.16  4273.85  4276.56  4223.03  NaN -0.85  -1.003   69.85
9  2023-10-23  4217.04  4210.40  4255.84  4189.22  NaN -1.26  -1.163   53.53
10 2023-10-24  4247.68  4235.79  4259.38  4219.43  NaN -0.17   0.158   66.62
11 2023-10-25  4186.77  4232.42  4232.42  4181.42  NaN  0.73   0.281   39.95
12 2023-10-26  4137.23  4175.99  4183.60  4127.90  NaN -1.43  -1.079   51.00
13 2023-10-27  4117.37  4152.93  4156.70  4103.78  NaN -1.18  -0.928   55.70
14 2023-10-30  4166.82  4139.39  4177.47  4132.94  NaN -0.48  -0.856   52.92
15 2023-10-31  4193.80  4171.33  4195.55  4153.12  NaN  1.20   0.663   44.53
16 2023-11-01  4237.86  4201.27  4245.64  4197.74  NaN  0.65   0.539   42.43
17 2023-11-02  4317.78  4268.26  4319.72  4268.26  NaN  1.05   0.871   47.90
18 2023-11-03      NaN      NaN      NaN      NaN  NaN  1.89   1.160   51.46

In [39]:
snp.reset_index(drop=True)[['날짜', '변동 %', '당일 변동률', '당일 변화량']].to_csv('../test_feature/clean_feature/snp.csv')