In [23]:
import pandas as pd

In [24]:
jniv = pd.read_csv('../data/JNIV.csv')
jniv

               날짜     종가     시가     고가     저가  거래량    변동 %
0    2023- 11- 01  20.94  21.12  21.20  20.83  NaN  -4.95%
1    2023- 10- 31  22.03  23.29  23.43  21.79  NaN  -7.09%
2    2023- 10- 30  23.71  23.82  24.02  23.44  NaN   4.96%
3    2023- 10- 27  22.59  23.06  23.11  22.18  NaN  -5.84%
4    2023- 10- 26  23.99  23.09  24.13  23.05  NaN   8.50%
..            ...    ...    ...    ...    ...  ...     ...
258  2022- 10- 17  25.02  25.60  25.79  24.93  NaN   1.21%
259  2022- 10- 14  24.72  25.21  25.21  24.38  NaN  -7.03%
260  2022- 10- 13  26.59  26.21  26.74  26.20  NaN   1.80%
261  2022- 10- 12  26.12  26.23  26.55  26.04  NaN   0.58%
262  2022- 10- 11  25.97  25.09  26.47  25.09  NaN  11.32%

[263 rows x 7 columns]

In [25]:
jniv = jniv[::-1]
jniv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 262 to 0
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      263 non-null    object
 1   종가      263 non-null    float64
 2   시가      263 non-null    float64
 3   고가      263 non-null    float64
 4   저가      263 non-null    float64
 5   거래량     0 non-null      float64
 6   변동 %    263 non-null    object
dtypes: float64(5), object(2)
memory usage: 14.5+ KB

In [26]:
jniv = jniv.reset_index(drop=True)

In [27]:
jniv.head(3)

             날짜     종가     시가     고가     저가  거래량    변동 %
0  2022- 10- 11  25.97  25.09  26.47  25.09  NaN  11.32%
1  2022- 10- 12  26.12  26.23  26.55  26.04  NaN   0.58%
2  2022- 10- 13  26.59  26.21  26.74  26.20  NaN   1.80%

In [28]:
jniv = jniv[['날짜', '종가', '시가', '고가', '저가', '변동 %']]

In [29]:
jniv['변동 %'] = jniv['변동 %'].astype(str)
jniv["변동 %"] = jniv["변동 %"].str.rstrip('%')
jniv["변동 %"] = jniv["변동 %"].astype(float)

In [30]:
jniv['변동 %'] = jniv['변동 %'].shift(1)
jniv['종가'] = jniv['종가'].shift(1)
jniv

               날짜     종가     시가     고가     저가   변동 %
0    2022- 10- 11    NaN  25.09  26.47  25.09    NaN
1    2022- 10- 12  25.97  26.23  26.55  26.04  11.32
2    2022- 10- 13  26.12  26.21  26.74  26.20   0.58
3    2022- 10- 14  26.59  25.21  25.21  24.38   1.80
4    2022- 10- 17  24.72  25.60  25.79  24.93  -7.03
..            ...    ...    ...    ...    ...    ...
258  2023- 10- 26  22.11  23.09  24.13  23.05  -1.95
259  2023- 10- 27  23.99  23.06  23.11  22.18   8.50
260  2023- 10- 30  22.59  23.82  24.02  23.44  -5.84
261  2023- 10- 31  23.71  23.29  23.43  21.79   4.96
262  2023- 11- 01  22.03  21.12  21.20  20.83  -7.09

[263 rows x 6 columns]

In [31]:
jniv['전날 변동율'] = round((jniv['종가'] - jniv['시가']) / jniv['시가'] * 100, 3)
jniv['전날 변화량'] = round(jniv['고가'] - jniv['저가'], 3)

In [32]:
jniv = jniv.dropna()

In [33]:
jniv = jniv[3:254]

In [34]:
jniv = jniv.reset_index(drop=True)

In [35]:
jniv['날짜'] = pd.to_datetime(jniv['날짜'])

In [36]:
jniv

            날짜     종가     시가     고가     저가  변동 %  전날 변동율  전날 변화량
0   2022-10-17  24.72  25.60  25.79  24.93 -7.03  -3.438    0.86
1   2022-10-18  25.02  23.69  24.30  23.39  1.21   5.614    0.91
2   2022-10-19  23.39  22.98  23.08  22.55 -6.51   1.784    0.53
3   2022-10-20  22.79  23.40  24.41  23.36 -2.57  -2.607    1.05
4   2022-10-21  23.99  23.82  24.34  23.77  5.27   0.714    0.57
..         ...    ...    ...    ...    ...   ...     ...     ...
246 2023-10-16  20.97  21.46  22.29  21.10  1.40  -2.283    1.19
247 2023-10-17  21.90  20.97  21.38  20.82  4.43   4.435    0.56
248 2023-10-18  21.15  21.09  21.57  20.87 -3.42   0.284    0.70
249 2023-10-19  21.00  22.40  22.62  21.93 -0.71  -6.250    0.69
250 2023-10-20  22.47  22.77  23.26  22.33  7.00  -1.318    0.93

[251 rows x 8 columns]

In [37]:
jniv[['날짜', '변동 %', '전날 변동율', '전날 변화량']].to_csv("../year_clean_feature/jniv_year.csv")

In [38]:
jniv[113:].reset_index(drop=True)[['날짜', '변동 %', '전날 변동율', '전날 변화량']].to_csv('../half_clean_feature/jniv_half.csv')

In [39]:
jniv[194:].reset_index(drop=True)[['날짜', '변동 %', '전날 변동율', '전날 변화량']].to_csv('../quater_clean_feature/jniv_quater.csv')