In [1]:
import pandas as pd

In [2]:
kospi_mor = pd.read_csv('../data/kospi_30min.csv', index_col=0)
kospi_mor

,현재가,거래량,체결시간,시가,고가,저가,대업종구분,소업종구분,종목정보,전일종가
0,230220,4029,20231027143000,230154,230248,230082,NaN,NaN,NaN,NaN
1,230106,29224,20231027140000,230554,230554,229931,NaN,NaN,NaN,NaN
2,230572,24056,20231027133000,-229821,230641,-229719,NaN,NaN,NaN,NaN
3,-229788,34357,20231027130000,230073,230228,-229523,NaN,NaN,NaN,NaN
4,230062,28154,20231027123000,231080,231080,230053,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
895,260626,27826,20230721150000,260683,260743,260392,NaN,NaN,NaN,NaN
896,260622,31033,20230721143000,260348,260818,260310,NaN,NaN,NaN,NaN
897,260432,32192,20230721140000,260546,260594,260121,NaN,NaN,NaN,NaN
898,260577,36487,20230721133000,260280,260676,260269,NaN,NaN,NaN,NaN
899,260279,27760,20230721130000,-259985,260292,-259781,NaN,NaN,NaN,NaN

In [3]:
kospi_mor.drop(['대업종구분', '소업종구분', '종목정보', '전일종가'], axis=1, inplace=True)

In [4]:
kospi_mor['체결시간'] = kospi_mor['체결시간'].astype(str)

In [5]:
kospi_mor = kospi_mor[kospi_mor['체결시간'].str.contains('090000|093000')]

In [6]:
kospi_mor

        현재가     거래량            체결시간      시가      고가      저가
10  -229745   59923  20231027093000  229930  230600 -229305
11   230000  107666  20231027090000  231159  231256  229936
24  -232044   54458  20231026093000  232596  232715  231813
25  -232618   98830  20231026090000  232582  233055  232034
38  -237676   67237  20231025093000  238312  238392  237518
..      ...     ...             ...     ...     ...     ...
865 -262194  172642  20230726090000  263876  263921  261924
878  263064   83420  20230725093000 -262771  263393 -262770
879  262910  134288  20230725090000  264335  264671 -262565
892  261728   59545  20230724093000  261344  262464  261222
893  261321  130450  20230724090000 -260847  261390 -259521

[128 rows x 6 columns]

In [7]:
kospi_mor = kospi_mor.reset_index(drop=True)

In [8]:
kospi_mor = kospi_mor[['현재가', '체결시간', '고가', '저가']]

In [9]:
kospi_mor['현재가'] = abs(kospi_mor['현재가'])
kospi_mor['고가'] = abs(kospi_mor['고가'])
kospi_mor['저가'] = abs(kospi_mor['저가'])

In [10]:
kospi_mor['현재가'] = kospi_mor['현재가'] / 100
kospi_mor['고가'] = kospi_mor['고가'] / 100
kospi_mor['저가'] = kospi_mor['저가'] / 100

In [11]:
kospi_mor

         현재가            체결시간       고가       저가
0    2297.45  20231027093000  2306.00  2293.05
1    2300.00  20231027090000  2312.56  2299.36
2    2320.44  20231026093000  2327.15  2318.13
3    2326.18  20231026090000  2330.55  2320.34
4    2376.76  20231025093000  2383.92  2375.18
..       ...             ...      ...      ...
123  2621.94  20230726090000  2639.21  2619.24
124  2630.64  20230725093000  2633.93  2627.70
125  2629.10  20230725090000  2646.71  2625.65
126  2617.28  20230724093000  2624.64  2612.22
127  2613.21  20230724090000  2613.90  2595.21

[128 rows x 4 columns]

In [12]:
date = []
rate_of_change = []
fluc_range = []

for i in range(0, len(kospi_mor), 2):
	date.append(kospi_mor['체결시간'][i][:8])
	change_result = (kospi_mor['현재가'][i] - kospi_mor['현재가'][i + 1]) / kospi_mor['현재가'][i + 1] * 100

	if kospi_mor['저가'][i] > kospi_mor['저가'][i + 1]:
		min = kospi_mor['저가'][i + 1]
	else:
		min = kospi_mor['저가'][i]

	if kospi_mor['고가'][i] > kospi_mor['고가'][i + 1]:
		max = kospi_mor['고가'][i]
	else:
		max = kospi_mor['고가'][i + 1]

	fluc_result = max - min

	fluc_result = round(fluc_result, 3)
	change_result = round(change_result, 3)

	rate_of_change.append(change_result)
	fluc_range.append(fluc_result)

In [13]:
kospi_mor = pd.DataFrame(zip(date, rate_of_change, fluc_range), columns = ['date', 'KOSPI 오전변동율', 'KOSPI 오전변화량'])

In [14]:
kospi_mor

        date  KOSPI 오전변동율  KOSPI 오전변화량
0   20231027       -0.111        19.51
1   20231026       -0.247        12.42
2   20231025       -0.302        14.72
3   20231024       -0.389        23.81
4   20231023        0.512        15.79
..       ...          ...          ...
59  20230728       -0.184        13.17
60  20230727        0.279        25.16
61  20230726       -0.257        25.10
62  20230725        0.059        21.06
63  20230724        0.156        29.43

[64 rows x 3 columns]

In [15]:
kospi_mor = kospi_mor[5:59]

In [16]:
kospi_mor

        date  KOSPI 오전변동율  KOSPI 오전변화량
5   20231020       -0.450        29.01
6   20231019        0.339        12.66
7   20231018       -0.072        11.33
8   20231017       -0.109         8.38
9   20231016       -0.206        15.99
10  20231013        0.053        12.23
11  20231012        0.140        10.62
12  20231011       -0.028        16.21
13  20231010       -0.289        15.89
14  20231006       -0.049        14.04
15  20231005        0.239        20.71
16  20231004       -0.287        25.91
17  20230927        0.039        16.66
18  20230926       -0.174        28.84
19  20230925       -0.151        11.60
20  20230922        0.283        11.07
21  20230921       -0.467        18.17
22  20230920       -0.000        11.32
23  20230919       -0.361        12.69
24  20230918       -0.022        11.88
25  20230915        0.378        20.34
26  20230914        0.025         7.86
27  20230913        0.150        14.07
28  20230912       -0.286        20.88
29  20230911       -0.186        14.16
30  20230908        0.007        14.18
31  20230907       -0.214        15.22
32  20230906       -0.088         8.73
33  20230905       -0.181        10.69
34  20230904       -0.211        10.66
35  20230901       -0.069        17.36
36  20230831       -0.194        11.25
37  20230830       -0.007         8.97
38  20230829       -0.138        11.71
39  20230828        0.220        13.06
40  20230825        0.163        18.81
41  20230824       -0.014        10.46
42  20230823       -0.211        12.50
43  20230822        0.356        16.76
44  20230821        0.120        12.71
45  20230818        0.184        22.07
46  20230817        0.349        30.86
47  20230816       -0.359        18.01
48  20230814       -0.604        16.60
49  20230811       -0.333        17.65
50  20230810        0.120         7.65
51  20230809        0.068        23.90
52  20230808        0.160        16.09
53  20230807        0.197        14.16
54  20230804        0.065        12.62
55  20230803        0.199        22.67
56  20230802       -0.035        14.04
57  20230801        0.331        22.87
58  20230731       -0.027        14.00

In [17]:
kospi_mor = kospi_mor[::-1].reset_index(drop=True)

In [18]:
kospi_mor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         54 non-null     object
 1   KOSPI 오전변동율  54 non-null     float64
 2   KOSPI 오전변화량  54 non-null     float64
dtypes: float64(2), object(1)
memory usage: 1.4+ KB

In [19]:
kospi_mor['date'] = pd.to_datetime(kospi_mor['date'])

In [20]:
kospi_mor.to_csv('../quater_clean_feature/ks_mor_quater.csv')