In [24]:
import pandas as pd

In [25]:
ks200 = pd.read_csv('../data/KOSPI200.csv', index_col=0)
ks200

                  종가      시가      고가      저가      거래량    변동 %
날짜
2023- 10- 31  306.33  310.52  311.51  305.81   69.93K  -0.85%
2023- 10- 30  308.95  307.10  310.09  307.01   95.85K   0.14%
2023- 10- 27  308.53  309.68  310.43  307.24   92.93M   0.25%
2023- 10- 26  307.75  311.36  312.37  307.75  110.77M  -2.76%
2023- 10- 25  316.49  319.26  319.59  316.30   91.22M  -0.61%
...              ...     ...     ...     ...      ...     ...
2022- 10- 19  291.29  293.41  295.34  290.90  110.85M  -0.78%
2022- 10- 18  293.59  293.34  293.78  289.77  117.12M   1.39%
2022- 10- 17  289.57  285.89  290.04  284.91  111.60M   0.07%
2022- 10- 14  289.36  287.59  290.32  286.59  132.07M   2.40%
2022- 10- 13  282.57  286.27  286.36  282.57  133.29M  -1.57%

[260 rows x 6 columns]

In [26]:
ks200 = ks200[::-1]
ks200

                  종가      시가      고가      저가      거래량    변동 %
날짜
2022- 10- 13  282.57  286.27  286.36  282.57  133.29M  -1.57%
2022- 10- 14  289.36  287.59  290.32  286.59  132.07M   2.40%
2022- 10- 17  289.57  285.89  290.04  284.91  111.60M   0.07%
2022- 10- 18  293.59  293.34  293.78  289.77  117.12M   1.39%
2022- 10- 19  291.29  293.41  295.34  290.90  110.85M  -0.78%
...              ...     ...     ...     ...      ...     ...
2023- 10- 25  316.49  319.26  319.59  316.30   91.22M  -0.61%
2023- 10- 26  307.75  311.36  312.37  307.75  110.77M  -2.76%
2023- 10- 27  308.53  309.68  310.43  307.24   92.93M   0.25%
2023- 10- 30  308.95  307.10  310.09  307.01   95.85K   0.14%
2023- 10- 31  306.33  310.52  311.51  305.81   69.93K  -0.85%

[260 rows x 6 columns]

In [27]:
ks200 = ks200.reset_index()

In [28]:
ks200.head(3)

             날짜      종가      시가      고가      저가      거래량    변동 %
0  2022- 10- 13  282.57  286.27  286.36  282.57  133.29M  -1.57%
1  2022- 10- 14  289.36  287.59  290.32  286.59  132.07M   2.40%
2  2022- 10- 17  289.57  285.89  290.04  284.91  111.60M   0.07%

In [29]:
ks200 = ks200[['날짜', '종가', '시가', '변동 %']]

In [30]:
ks200['변동 %'] = ks200['변동 %'].astype(str)
ks200["변동 %"] = ks200["변동 %"].str.rstrip('%')
ks200["변동 %"] = ks200["변동 %"].astype(float)

In [31]:
ks200['변동 %'] = ks200['변동 %'].shift(1)
ks200

               날짜      종가      시가  변동 %
0    2022- 10- 13  282.57  286.27   NaN
1    2022- 10- 14  289.36  287.59 -1.57
2    2022- 10- 17  289.57  285.89  2.40
3    2022- 10- 18  293.59  293.34  0.07
4    2022- 10- 19  291.29  293.41  1.39
..            ...     ...     ...   ...
255  2023- 10- 25  316.49  319.26  0.93
256  2023- 10- 26  307.75  311.36 -0.61
257  2023- 10- 27  308.53  309.68 -2.76
258  2023- 10- 30  308.95  307.10  0.25
259  2023- 10- 31  306.33  310.52  0.14

[260 rows x 4 columns]

In [32]:
ks200 = ks200.dropna()

In [33]:
ks200['종가'] = ks200['종가'].shift(1)

/var/folders/y7/kjtd2q_j0c13ld5lwg5kd25r0000gn/T/ipykernel_39301/2144643337.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ks200['종가'] = ks200['종가'].shift(1)

In [34]:
ks200['야간변화율'] = round(((ks200['시가'] - ks200['종가']) / ks200['종가']) * 100, 3)

/var/folders/y7/kjtd2q_j0c13ld5lwg5kd25r0000gn/T/ipykernel_39301/1388436049.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ks200['야간변화율'] = round(((ks200['시가'] - ks200['종가']) / ks200['종가']) * 100, 3)

In [35]:
ks200 = ks200.dropna()
ks200.info()

<class 'pandas.core.frame.DataFrame'>
Index: 258 entries, 2 to 259
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      258 non-null    object
 1   종가      258 non-null    float64
 2   시가      258 non-null    float64
 3   변동 %    258 non-null    float64
 4   야간변화율   258 non-null    float64
dtypes: float64(4), object(1)
memory usage: 12.1+ KB

In [36]:
ks200['날짜'] = pd.to_datetime(ks200['날짜'])

In [37]:
ks200 = ks200[:251]

In [38]:
ks200 = ks200.reset_index(drop=True)

In [39]:
ks200

            날짜      종가      시가  변동 %  야간변화율
0   2022-10-17  289.36  285.89  2.40 -1.199
1   2022-10-18  289.57  293.34  0.07  1.302
2   2022-10-19  293.59  293.41  1.39 -0.061
3   2022-10-20  291.29  289.33 -0.78 -0.673
4   2022-10-21  288.61  287.68 -0.92 -0.322
..         ...     ...     ...   ...    ...
246 2023-10-16  325.77  324.10 -0.94 -0.513
247 2023-10-17  323.29  325.70 -0.76  0.745
248 2023-10-18  327.35  326.32  1.26 -0.315
249 2023-10-19  328.82  324.75  0.45 -1.238
250 2023-10-20  322.76  319.45 -1.84 -1.026

[251 rows x 5 columns]

In [40]:
ks200[['날짜', '변동 %', '야간변화율']].to_csv('../year_clean_feature/ks200.csv')

In [41]:
ks200[116:].reset_index(drop=True)[['날짜', '변동 %', '야간변화율']].to_csv('../half_clean_feature/ks200_half.csv')

In [42]:
ks200[197:].reset_index(drop=True)[['날짜', '변동 %', '야간변화율']].to_csv('../quater_clean_feature/ks200_quater.csv')