In [20]:
import pandas as pd

In [21]:
snp = pd.read_csv('../data/S&P500.csv', index_col=0)
snp

                    종가        시가        고가        저가  거래량    변동 %
날짜
2023- 10- 30  4,166.82  4,139.39  4,177.47  4,132.94  NaN   1.20%
2023- 10- 27  4,117.37  4,152.93  4,156.70  4,103.78  NaN  -0.48%
2023- 10- 26  4,137.23  4,175.99  4,183.60  4,127.90  NaN  -1.18%
2023- 10- 25  4,186.77  4,232.42  4,232.42  4,181.42  NaN  -1.43%
2023- 10- 24  4,247.68  4,235.79  4,259.38  4,219.43  NaN   0.73%
...                ...       ...       ...       ...  ...     ...
2022- 10- 19  3,695.16  3,703.11  3,728.58  3,666.51  NaN  -0.67%
2022- 10- 18  3,719.98  3,746.26  3,762.79  3,686.53  NaN   1.14%
2022- 10- 17  3,677.95  3,638.65  3,689.73  3,638.65  NaN   2.65%
2022- 10- 14  3,583.07  3,690.41  3,712.00  3,579.68  NaN  -2.37%
2022- 10- 13  3,669.91  3,520.37  3,685.41  3,491.58  NaN   2.60%

[263 rows x 6 columns]

In [22]:
snp = snp[::-1]

In [23]:
snp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 263 entries, 2022- 10- 13 to 2023- 10- 30
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종가      263 non-null    object
 1   시가      263 non-null    object
 2   고가      263 non-null    object
 3   저가      263 non-null    object
 4   거래량     0 non-null      float64
 5   변동 %    263 non-null    object
dtypes: float64(1), object(5)
memory usage: 14.4+ KB

In [24]:
snp = snp.reset_index()

In [25]:
snp = snp[['날짜', '종가', '시가', '고가', '저가', '변동 %']]

In [26]:
snp['변동 %'] = snp['변동 %'].astype(str)
snp["변동 %"] = snp["변동 %"].str.rstrip('%')
snp["변동 %"] = snp["변동 %"].astype(float)

snp["시가"] = snp["시가"].str.replace(',', '')
snp["시가"] = snp["시가"].astype(float)

snp["종가"] = snp["종가"].str.replace(',', '')
snp["종가"] = snp["종가"].astype(float)

snp["고가"] = snp["고가"].str.replace(',', '')
snp["고가"] = snp["고가"].astype(float)

snp["저가"] = snp["저가"].str.replace(',', '')
snp["저가"] = snp["저가"].astype(float)

In [27]:
snp['변동 %'] = snp['변동 %'].shift(1)
snp

               날짜       종가       시가       고가       저가  변동 %
0    2022- 10- 13  3669.91  3520.37  3685.41  3491.58   NaN
1    2022- 10- 14  3583.07  3690.41  3712.00  3579.68  2.60
2    2022- 10- 17  3677.95  3638.65  3689.73  3638.65 -2.37
3    2022- 10- 18  3719.98  3746.26  3762.79  3686.53  2.65
4    2022- 10- 19  3695.16  3703.11  3728.58  3666.51  1.14
..            ...      ...      ...      ...      ...   ...
258  2023- 10- 24  4247.68  4235.79  4259.38  4219.43 -0.17
259  2023- 10- 25  4186.77  4232.42  4232.42  4181.42  0.73
260  2023- 10- 26  4137.23  4175.99  4183.60  4127.90 -1.43
261  2023- 10- 27  4117.37  4152.93  4156.70  4103.78 -1.18
262  2023- 10- 30  4166.82  4139.39  4177.47  4132.94 -0.48

[263 rows x 6 columns]

In [28]:
snp['당일 변동률'] = round((snp['종가'] - snp['시가']) / snp['시가'] * 100, 3)
snp['당일 변화량'] = round(snp['고가'] - snp['저가'], 3)

In [29]:
snp['당일 변동률'] = snp['당일 변동률'].shift(1)
snp['당일 변화량'] = snp['당일 변화량'].shift(1)

In [30]:
snp = snp.dropna()

In [31]:
snp = snp[1:256]

In [32]:
snp = snp.reset_index(drop=True)

In [33]:
snp['날짜'] = pd.to_datetime(snp['날짜'])

In [34]:
snp[['날짜', '변동 %', '당일 변동률', '당일 변화량']].to_csv("../year_clean_feature/snp_year.csv")

In [35]:
snp[115:]

            날짜       종가       시가       고가       저가  변동 %  당일 변동률  당일 변화량
115 2023-04-03  4124.51  4102.20  4127.66  4098.79  1.44   1.310   54.57
116 2023-04-04  4100.60  4128.03  4133.13  4086.87  0.37   0.544   28.87
117 2023-04-05  4090.38  4094.50  4099.69  4072.56 -0.58  -0.664   46.26
118 2023-04-06  4105.02  4081.15  4107.32  4069.84 -0.25  -0.101   27.13
119 2023-04-10  4109.11  4085.20  4109.50  4072.55  0.36   0.585   37.48
..         ...      ...      ...      ...      ...   ...     ...     ...
250 2023-10-16  4373.63  4342.37  4383.33  4342.37 -0.50  -0.750   65.13
251 2023-10-17  4373.20  4345.23  4393.57  4337.54  1.06   0.720   40.96
252 2023-10-18  4314.60  4357.35  4364.20  4303.84 -0.01   0.644   56.03
253 2023-10-19  4278.00  4321.36  4339.54  4269.69 -1.34  -0.981   60.36
254 2023-10-20  4224.16  4273.85  4276.56  4223.03 -0.85  -1.003   69.85

[140 rows x 8 columns]

In [36]:
snp[115:].reset_index(drop=True)[['날짜', '변동 %', '당일 변동률', '당일 변화량']].to_csv('../half_clean_feature/snp_half.csv')

In [37]:
snp[196:].reset_index(drop=True)[['날짜', '변동 %', '당일 변동률', '당일 변화량']].to_csv('../quater_clean_feature/snp_quater.csv')