In [46]:
import pandas as pd

In [47]:
df = pd.read_csv('../pivot_profit_1530.csv')
df

,거래일자,풋콜구분,307.5,310.0,312.5,315.0,317.5,320.0,322.5,325.0,...,330.0,332.5,335.0,337.5,340.0,342.5,345.0,347.5,350.0,352.5
0,20230811,CALL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-2.80,-2.70,-2.44,-2.26,-2.13,-1.82,-1.60,-1.34,-1.08,NaN
1,20230811,PUT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.46,0.59,0.78,0.97,1.21,1.45,1.69,2.02,2.24,NaN
2,20230814,CALL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.40,-1.35,-1.13,-0.92,-0.78,-0.65,-0.52,-0.40,NaN,NaN
3,20230814,PUT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.41,0.50,0.63,0.75,0.89,1.01,1.22,1.50,NaN,NaN
4,20230816,CALL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.65,...,-1.39,-1.20,-1.04,-0.86,-0.70,-0.56,-0.43,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,20231006,PUT,0.03,0.05,0.09,0.16,0.26,0.40,0.54,0.66,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,20231010,CALL,NaN,-3.25,NaN,-2.70,-2.72,-2.58,-2.07,-1.91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,20231010,PUT,0.84,1.00,1.23,1.45,1.71,1.98,2.14,2.40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,20231011,CALL,NaN,NaN,NaN,0.20,-0.30,-0.25,-0.29,-0.17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,20231011,PUT,0.10,0.12,0.14,0.18,0.22,0.22,0.26,0.28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
vkospi = pd.read_csv('../vkospi.csv', index_col=0)
vkospi = vkospi.drop(index=23)
vkospi = vkospi.reset_index(drop=True)
vkospi

            날짜  VKOSPI_Label
0   2023-08-11            -1
1   2023-08-14             0
2   2023-08-16             0
3   2023-08-17            -1
4   2023-08-18            -1
5   2023-08-21             0
6   2023-08-22             0
7   2023-08-23            -1
8   2023-08-24            -1
9   2023-08-25            -1
10  2023-08-28            -1
11  2023-08-29            -1
12  2023-08-30             0
13  2023-08-31             0
14  2023-09-01             0
15  2023-09-04            -1
16  2023-09-05             0
17  2023-09-06             0
18  2023-09-07             0
19  2023-09-08             0
20  2023-09-11             0
21  2023-09-12             0
22  2023-09-13             0
23  2023-09-15             0
24  2023-09-18             0
25  2023-09-19             0
26  2023-09-20             0
27  2023-09-21             0
28  2023-09-22            -1
29  2023-09-25            -1
30  2023-09-26             0
31  2023-09-27            -1
32  2023-10-04             0
33  2023-10-05             0
34  2023-10-06             0
35  2023-10-10             0
36  2023-10-11             0

In [49]:
strike_price = pd.read_csv('../strike_price.csv')
strike_price = strike_price[7:45]
strike_price = strike_price[::-1]
strike_price = strike_price.drop(index=23)
strike_price = strike_price.reset_index(drop=True)
strike_price = strike_price[['일자', 'S-4', 'S-3', 'S-2', 'S-1', '기준행사가', 'S+1', 'S+2', 'S+3', 'S+4']]
strike_price.columns = ['일자', 'S-4', 'S-3', 'S-2', 'S-1', 'S', 'S+1', 'S+2', 'S+3', 'S+4']
strike_price.head(5)

         일자    S-4    S-3    S-2    S-1      S    S+1    S+2    S+3    S+4
0  20230811  330.0  332.5  335.0  337.5  340.0  342.5  345.0  347.5  350.0
1  20230814  327.5  330.0  332.5  335.0  337.5  340.0  342.5  345.0  347.5
2  20230816  325.0  327.5  330.0  332.5  335.0  337.5  340.0  342.5  345.0
3  20230817  320.0  322.5  325.0  327.5  330.0  332.5  335.0  337.5  340.0
4  20230818  320.0  322.5  325.0  327.5  330.0  332.5  335.0  337.5  340.0

In [50]:
# S+1 CALL / S-1 PUT 스트랭글
strangle = pd.DataFrame(columns=["일자"])

for i in range(0, len(strike_price)):
    j = i * 2
    # column
    call = strike_price["S+1"][i]  # Call
    put = strike_price["S-1"][i]  # PUT
    # print(call)
    # print(put)
    # 날짜
    date = df["거래일자"][j]
    price = round(df[str(call)][j] + df[str(put)][j + 1], 3)
    # print(date)
    # print(price)
    data = pd.DataFrame({"일자": date, "S1": price}, index=[0])
    strangle = pd.concat([strangle, data])
strangle_S1 = strangle.reset_index(drop=True)
strangle_S1
buy_date_S1 = strangle_S1.loc[strangle_S1["S1"] > 0].일자

In [51]:
# S+2 CALL / S-2 PUT 스트랭글
strangle = pd.DataFrame(columns=["일자"])

for i in range(0, len(strike_price)):
    j = i * 2
    # column
    call = strike_price["S+2"][i]  # Call
    put = strike_price["S-2"][i]  # PUT
    # print(call)
    # print(put)
    # 날짜
    date = df["거래일자"][j]
    price = round(df[str(call)][j] + df[str(put)][j + 1], 3)
    # print(date)
    # print(price)
    data = pd.DataFrame({"일자": date, "S2": price}, index=[0])
    strangle = pd.concat([strangle, data])
strangle_S2 = strangle.reset_index(drop=True)
strangle_S2
buy_date_S2 = strangle_S2.loc[strangle_S2["S2"] > 0].일자

In [52]:
# S+3 CALL / S-3 PUT 스트랭글
strangle = pd.DataFrame(columns=["일자"])

for i in range(0, len(strike_price)):
    j = i * 2
    # column
    call = strike_price["S+3"][i]  # Call
    put = strike_price["S-3"][i]  # PUT
    # print(call)
    # print(put)
    # 날짜
    date = df["거래일자"][j]
    price = round(df[str(call)][j] + df[str(put)][j + 1], 3)
    # print(date)
    # print(price)
    data = pd.DataFrame({"일자": date, "S3": price}, index=[0])
    strangle = pd.concat([strangle, data])
strangle_S3 = strangle.reset_index(drop=True)
strangle_S3
buy_date_S3 = strangle_S3.loc[strangle_S3["S3"] > 0].일자

In [53]:
# S+4 CALL / S-4 PUT 스트랭글
strangle = pd.DataFrame(columns=["일자"])

for i in range(0, len(strike_price)):
    j = i * 2
    # column
    call = strike_price["S+4"][i]  # Call
    put = strike_price["S-4"][i]  # PUT
    # print(call)
    # print(put)
    # 날짜
    date = df["거래일자"][j]
    price = round(df[str(call)][j] + df[str(put)][j + 1], 3)
    # print(date)
    # print(price)
    data = pd.DataFrame({"일자": date, "S4": price}, index=[0])
    strangle = pd.concat([strangle, data])
strangle_S4 = strangle.reset_index(drop=True)
strangle_S4
buy_date_S4 = strangle_S4.loc[strangle_S4["S4"] > 0].일자

In [54]:
profit = pd.merge(strangle_S1, strangle_S2, on='일자')

In [55]:
profit = pd.merge(profit, strangle_S3, on="일자")

In [56]:
profit = pd.merge(profit, strangle_S4, on='일자')

In [57]:
profit

          일자    S1    S2    S3    S4
0   20230811 -0.85 -0.82 -0.75 -0.62
1   20230814 -0.15 -0.15 -0.11 -0.07
2   20230816  0.24  0.23  0.22  0.21
3   20230817 -0.39 -0.37 -0.37 -0.36
4   20230818 -0.59 -0.52 -0.48 -0.43
5   20230821 -0.29 -0.28 -0.26 -0.24
6   20230822 -0.55 -0.54 -0.47 -0.39
7   20230823 -0.29 -0.27 -0.24 -0.20
8   20230824 -0.37 -0.34 -0.31 -0.26
9   20230825 -0.12 -0.12 -0.08 -0.06
10  20230828 -0.03 -0.05 -0.05 -0.07
11  20230829 -0.31 -0.26 -0.20 -0.15
12  20230830 -0.79 -0.70 -0.55 -0.41
13  20230831 -0.34 -0.29 -0.23 -0.14
14  20230901  1.18  1.00  0.76  0.54
15  20230904 -0.17 -0.02  0.12  0.03
16  20230905  0.02 -0.13 -0.10  0.00
17  20230906  0.06  0.03  0.10  0.11
18  20230907  0.22  0.10  0.11  0.11
19  20230908 -0.16 -0.13 -0.11 -0.04
20  20230911  0.28  0.16  0.05 -0.02
21  20230912 -0.85 -0.46 -0.17   NaN
22  20230913 -0.49 -0.23 -0.06 -0.01
23  20230915  0.92  0.81  0.69  0.54
24  20230918 -0.06 -0.06 -0.03  0.00
25  20230919 -0.01 -0.03  0.00  0.03
26  20230920 -0.07 -0.05 -0.05 -0.04
27  20230921  1.09  1.01  0.89  0.75
28  20230922 -0.99 -0.89 -0.84 -0.73
29  20230925 -0.32 -0.31 -0.28 -0.24
30  20230926  0.18  0.17  0.16  0.14
31  20230927 -0.08 -0.07 -0.08 -0.06
32  20231004  0.35  0.38  0.33  0.26
33  20231005 -0.62 -0.48 -0.34 -0.21
34  20231006 -0.27 -0.19 -0.09 -0.01
35  20231010 -1.13 -0.84 -0.91 -0.75
36  20231011 -0.07 -0.15 -0.05 -0.01

In [58]:
# #df = pd.merge(
#     df_profit, vkospi["VKOSPI_Label"], left_index=True, right_index=True, how="right"
# )
profit = pd.merge(
    profit,
    vkospi['VKOSPI_Label'],
    left_index=True, right_index=True, how='right'
)

In [59]:
profit = profit.fillna(0)

In [70]:
profit

          일자    S1    S2    S3    S4  VKOSPI_Label
0   20230811 -0.85 -0.82 -0.75 -0.62            -1
1   20230814 -0.15 -0.15 -0.11 -0.07             0
2   20230816  0.24  0.23  0.22  0.21             0
3   20230817 -0.39 -0.37 -0.37 -0.36            -1
4   20230818 -0.59 -0.52 -0.48 -0.43            -1
5   20230821 -0.29 -0.28 -0.26 -0.24             0
6   20230822 -0.55 -0.54 -0.47 -0.39             0
7   20230823 -0.29 -0.27 -0.24 -0.20            -1
8   20230824 -0.37 -0.34 -0.31 -0.26            -1
9   20230825 -0.12 -0.12 -0.08 -0.06            -1
10  20230828 -0.03 -0.05 -0.05 -0.07            -1
11  20230829 -0.31 -0.26 -0.20 -0.15            -1
12  20230830 -0.79 -0.70 -0.55 -0.41             0
13  20230831 -0.34 -0.29 -0.23 -0.14             0
14  20230901  1.18  1.00  0.76  0.54             0
15  20230904 -0.17 -0.02  0.12  0.03            -1
16  20230905  0.02 -0.13 -0.10  0.00             0
17  20230906  0.06  0.03  0.10  0.11             0
18  20230907  0.22  0.10  0.11  0.11             0
19  20230908 -0.16 -0.13 -0.11 -0.04             0
20  20230911  0.28  0.16  0.05 -0.02             0
21  20230912 -0.85 -0.46 -0.17  0.00             0
22  20230913 -0.49 -0.23 -0.06 -0.01             0
23  20230915  0.92  0.81  0.69  0.54             0
24  20230918 -0.06 -0.06 -0.03  0.00             0
25  20230919 -0.01 -0.03  0.00  0.03             0
26  20230920 -0.07 -0.05 -0.05 -0.04             0
27  20230921  1.09  1.01  0.89  0.75             0
28  20230922 -0.99 -0.89 -0.84 -0.73            -1
29  20230925 -0.32 -0.31 -0.28 -0.24            -1
30  20230926  0.18  0.17  0.16  0.14             0
31  20230927 -0.08 -0.07 -0.08 -0.06            -1
32  20231004  0.35  0.38  0.33  0.26             0
33  20231005 -0.62 -0.48 -0.34 -0.21             0
34  20231006 -0.27 -0.19 -0.09 -0.01             0
35  20231010 -1.13 -0.84 -0.91 -0.75             0
36  20231011 -0.07 -0.15 -0.05 -0.01             0

In [60]:
profit_table = pd.DataFrame(
    columns=["S1", "S2", "S3", "S4"],
    index=["양매도", "양매수"],
)

In [61]:
sell_total = 0
buy_total = 0
for index, i in enumerate(profit["VKOSPI_Label"]):
    if i == 1:
        buy_value = round(profit["S1"][index], 2)
        buy_total += buy_value
    else:
        sell_value = round(profit["S1"][index], 2)
        sell_total += sell_value
print(f"양매도 전략 : {sell_total}")
print(f"양매수 전략 : {buy_total}")

profit_table.at["양매도", "S1"] = sell_total
profit_table.at["양매수", "S1"] = buy_total

양매도 전략 : -5.820000000000001
양매수 전략 : 0

In [62]:
sell_total = 0
buy_total = 0
for index, i in enumerate(profit["VKOSPI_Label"]):
    if i == 1:
        buy_value = round(profit["S2"][index], 2)
        buy_total += buy_value
    else:
        sell_value = round(profit["S2"][index], 2)
        sell_total += sell_value
print(f"양매도 전략 : {sell_total}")
print(f"양매수 전략 : {buy_total}")

profit_table.at["양매도", "S2"] = sell_total
profit_table.at["양매수", "S2"] = buy_total

양매도 전략 : -4.86
양매수 전략 : 0

In [63]:
sell_total = 0
buy_total = 0
for index, i in enumerate(profit["VKOSPI_Label"]):
    if i == 1:
        buy_value = round(profit["S3"][index], 2)
        buy_total += buy_value
    else:
        sell_value = round(profit["S3"][index], 2)
        sell_total += sell_value
print(f"양매도 전략 : {sell_total}")
print(f"양매수 전략 : {buy_total}")

profit_table.at["양매도", "S3"] = sell_total
profit_table.at["양매수", "S3"] = buy_total

양매도 전략 : -3.7799999999999994
양매수 전략 : 0

In [64]:
sell_total = 0
buy_total = 0
for index, i in enumerate(profit["VKOSPI_Label"]):
    if i == 1:
        buy_value = round(profit["S4"][index], 2)
        buy_total += buy_value
    else:
        sell_value = round(profit["S4"][index], 2)
        sell_total += sell_value
print(f"양매도 전략 : {sell_total}")
print(f"양매수 전략 : {buy_total}")

profit_table.at["양매도", "S4"] = sell_total
profit_table.at["양매수", "S4"] = buy_total

양매도 전략 : -2.8000000000000003
양매수 전략 : 0

In [65]:
profit_table

       S1    S2    S3   S4
양매도 -5.82 -4.86 -3.78 -2.8
양매수     0     0     0    0

In [66]:
buy_date_S1

2     20230816
14    20230901
16    20230905
17    20230906
18    20230907
20    20230911
23    20230915
27    20230921
30    20230926
32    20231004
Name: 일자, dtype: object

In [67]:
buy_date_S2

2     20230816
14    20230901
17    20230906
18    20230907
20    20230911
23    20230915
27    20230921
30    20230926
32    20231004
Name: 일자, dtype: object

In [68]:
buy_date_S3

2     20230816
14    20230901
15    20230904
17    20230906
18    20230907
20    20230911
23    20230915
27    20230921
30    20230926
32    20231004
Name: 일자, dtype: object

In [69]:
buy_date_S4

2     20230816
14    20230901
15    20230904
17    20230906
18    20230907
23    20230915
25    20230919
27    20230921
30    20230926
32    20231004
Name: 일자, dtype: object