In [92]:
import pandas as pd

In [93]:
strike_price = pd.read_csv('./strike_price.csv')
strike_price = strike_price[7:45]
strike_price = strike_price[::-1]
strike_price

          일자  기준행사가    S-4    S-3    S-2    S-1    S+1    S+2    S+3    S+4
44  20230811  340.0  330.0  332.5  335.0  337.5  342.5  345.0  347.5  350.0
43  20230814  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
42  20230816  335.0  325.0  327.5  330.0  332.5  337.5  340.0  342.5  345.0
41  20230817  330.0  320.0  322.5  325.0  327.5  332.5  335.0  337.5  340.0
40  20230818  330.0  320.0  322.5  325.0  327.5  332.5  335.0  337.5  340.0
39  20230821  327.5  317.5  320.0  322.5  325.0  330.0  332.5  335.0  337.5
38  20230822  327.5  317.5  320.0  322.5  325.0  330.0  332.5  335.0  337.5
37  20230823  327.5  317.5  320.0  322.5  325.0  330.0  332.5  335.0  337.5
36  20230824  327.5  317.5  320.0  322.5  325.0  330.0  332.5  335.0  337.5
35  20230825  332.5  322.5  325.0  327.5  330.0  335.0  337.5  340.0  342.5
34  20230828  330.0  320.0  322.5  325.0  327.5  332.5  335.0  337.5  340.0
33  20230829  332.5  322.5  325.0  327.5  330.0  335.0  337.5  340.0  342.5
32  20230830  332.5  322.5  325.0  327.5  330.0  335.0  337.5  340.0  342.5
31  20230831  332.5  322.5  325.0  327.5  330.0  335.0  337.5  340.0  342.5
30  20230901  332.5  322.5  325.0  327.5  330.0  335.0  337.5  340.0  342.5
29  20230904  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
28  20230905  340.0  330.0  332.5  335.0  337.5  342.5  345.0  347.5  350.0
27  20230906  340.0  330.0  332.5  335.0  337.5  342.5  345.0  347.5  350.0
26  20230907  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
25  20230908  335.0  325.0  327.5  330.0  332.5  337.5  340.0  342.5  345.0
24  20230911  335.0  325.0  327.5  330.0  332.5  337.5  340.0  342.5  345.0
23  20230912  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
22  20230913  335.0  325.0  327.5  330.0  332.5  337.5  340.0  342.5  345.0
21  20230914  335.0  325.0  327.5  330.0  332.5  337.5  340.0  342.5  345.0
20  20230915  340.0  330.0  332.5  335.0  337.5  342.5  345.0  347.5  350.0
19  20230918  342.5  332.5  335.0  337.5  340.0  345.0  347.5  350.0  352.5
18  20230919  340.0  330.0  332.5  335.0  337.5  342.5  345.0  347.5  350.0
17  20230920  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
16  20230921  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
15  20230922  332.5  322.5  325.0  327.5  330.0  335.0  337.5  340.0  342.5
14  20230925  330.0  320.0  322.5  325.0  327.5  332.5  335.0  337.5  340.0
13  20230926  330.0  320.0  322.5  325.0  327.5  332.5  335.0  337.5  340.0
12  20230927  325.0  315.0  317.5  320.0  322.5  327.5  330.0  332.5  335.0
11  20231004  325.0  315.0  317.5  320.0  322.5  327.5  330.0  332.5  335.0
10  20231005  317.5  307.5  310.0  312.5  315.0  320.0  322.5  325.0  327.5
9   20231006  317.5  307.5  310.0  312.5  315.0  320.0  322.5  325.0  327.5
8   20231010  317.5  307.5  310.0  312.5  315.0  320.0  322.5  325.0  327.5
7   20231011  317.5  307.5  310.0  312.5  315.0  320.0  322.5  325.0  327.5

In [94]:
df = pd.DataFrame()
for date in strike_price['일자']:
	data = pd.read_csv(f'./option_day_strike_price/{date}_clean.csv', index_col=0)
	data = pd.pivot_table(data, index=['거래일자', '풋콜구분', '시각'], columns='행사가', values=['종가'])
	
	data = data.reset_index()
	data = data.fillna(method='ffill')

	buy_data = data[(data['시각'] == 915)]
	#sell_data = data[(data['시각'] == 1515) | (data['시각'] == 1530)]
	sell_data = data[(data['시각'] == 1515)]

	df = pd.concat([df, buy_data, sell_data])

df = pd.pivot_table(df, index=['거래일자', '풋콜구분', '시각'], values=['종가'])
df.to_csv('./buy_sell_1515.csv')

/var/folders/y7/kjtd2q_j0c13ld5lwg5kd25r0000gn/T/ipykernel_23238/4265230241.py:15: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  df = pd.pivot_table(df, index=['거래일자', '풋콜구분', '시각'], values=['종가'])

In [95]:
df_nan = pd.DataFrame()
for date in strike_price["일자"]:
    data = pd.read_csv(f"./option_day_strike_price/{date}_clean.csv", index_col=0)
    data = pd.pivot_table(
        data, index=["거래일자", "풋콜구분", "시각"], columns="행사가", values=["종가"]
    )

    data = data.reset_index()
    # data = data.fillna(method="ffill")

    buy_data = data[(data["시각"] == 915)]
    # sell_data = data[(data['시각'] == 1515) | (data['시각'] == 1530)]
    sell_data = data[(data["시각"] == 1515)]

    df_nan = pd.concat([df_nan, buy_data, sell_data])

df_nan = pd.pivot_table(df_nan, index=["거래일자", "풋콜구분", "시각"], values=["종가"])
df_nan.to_csv("./buy_sell_1515_nan.csv")

/var/folders/y7/kjtd2q_j0c13ld5lwg5kd25r0000gn/T/ipykernel_23238/62000071.py:17: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  df_nan = pd.pivot_table(df_nan, index=["거래일자", "풋콜구분", "시각"], values=["종가"])

In [96]:
df

                       종가                                                \
행사가                 307.5  310.0  312.5  315.0  317.5 320.0 322.5 325.0
거래일자     풋콜구분 시각
20230811 CALL 915     NaN    NaN    NaN    NaN    NaN   NaN   NaN   NaN
              1515    NaN    NaN    NaN    NaN    NaN   NaN   NaN   NaN
         PUT  915     NaN    NaN    NaN    NaN    NaN   NaN   NaN   NaN
              1515    NaN    NaN    NaN    NaN    NaN   NaN   NaN   NaN
20230814 CALL 915     NaN    NaN    NaN    NaN    NaN   NaN   NaN   NaN
...                   ...    ...    ...    ...    ...   ...   ...   ...
20231010 PUT  1515   2.02   2.54   3.16   3.90   4.80  5.82  7.04  8.25
20231011 CALL 915     NaN    NaN    NaN  13.00  11.20  9.41  7.83  6.21
              1515  20.45  17.90  16.00  13.20  10.90  9.17  7.60  6.15
         PUT  915    1.01   1.30   1.66   2.13   2.66  3.39  4.23  5.21
              1515   1.10   1.41   1.79   2.27   2.86  3.59  4.43  5.49

                                                                              \
행사가                 327.5  330.0  332.5  335.0 337.5 340.0 342.5 345.0 347.5
거래일자     풋콜구분 시각
20230811 CALL 915     NaN  14.70  12.70  10.75  8.94  7.40  5.91  4.66  3.57
              1515    NaN  12.00  10.15   8.23  6.65  5.26  4.04  3.02  2.21
         PUT  915     NaN   1.43   1.88   2.44  3.13  3.99  5.03  6.25  7.68
              1515    NaN   1.92   2.50   3.24  4.13  5.24  6.52  7.91  9.60
20230814 CALL 915     NaN  11.00   9.16   7.42  5.90  4.60  3.50  2.59  1.86
...                   ...    ...    ...    ...   ...   ...   ...   ...   ...
20231010 PUT  1515  10.00    NaN    NaN    NaN   NaN   NaN   NaN   NaN   NaN
20231011 CALL 915    4.90    NaN    NaN    NaN   NaN   NaN   NaN   NaN   NaN
              1515   4.88    NaN    NaN    NaN   NaN   NaN   NaN   NaN   NaN
         PUT  915    6.38    NaN    NaN    NaN   NaN   NaN   NaN   NaN   NaN
              1515   6.66    NaN    NaN    NaN   NaN   NaN   NaN   NaN   NaN


행사가                 350.0 352.5
거래일자     풋콜구분 시각
20230811 CALL 915    2.66   NaN
              1515   1.56   NaN
         PUT  915    9.21   NaN
              1515  11.50   NaN
20230814 CALL 915     NaN   NaN
...                   ...   ...
20231010 PUT  1515    NaN   NaN
20231011 CALL 915     NaN   NaN
              1515    NaN   NaN
         PUT  915     NaN   NaN
              1515    NaN   NaN

[152 rows x 19 columns]

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 152 entries, (20230811, 'CALL', 915) to (20231011, 'PUT', 1515)
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   (종가, 307.5)  13 non-null     float64
 1   (종가, 310.0)  15 non-null     float64
 2   (종가, 312.5)  14 non-null     float64
 3   (종가, 315.0)  24 non-null     float64
 4   (종가, 317.5)  38 non-null     float64
 5   (종가, 320.0)  60 non-null     float64
 6   (종가, 322.5)  82 non-null     float64
 7   (종가, 325.0)  103 non-null    float64
 8   (종가, 327.5)  124 non-null    float64
 9   (종가, 330.0)  131 non-null    float64
 10  (종가, 332.5)  136 non-null    float64
 11  (종가, 335.0)  136 non-null    float64
 12  (종가, 337.5)  128 non-null    float64
 13  (종가, 340.0)  112 non-null    float64
 14  (종가, 342.5)  92 non-null     float64
 15  (종가, 345.0)  68 non-null     float64
 16  (종가, 347.5)  48 non-null     float64
 17  (종가, 350.0)  24 non-null     float64
 18  (종가, 352.5)  4 non-null      float64
dtypes: float64(19)
memory usage: 23.6+ KB

In [98]:
# df['종가', 322.5][20230901]['CALL'][1515]

In [99]:
df.columns.levels[1]

Index([307.5, 310.0, 312.5, 315.0, 317.5, 320.0, 322.5, 325.0, 327.5, 330.0,
       332.5, 335.0, 337.5, 340.0, 342.5, 345.0, 347.5, 350.0, 352.5,    ''],
      dtype='object', name='행사가')

In [100]:
#df.index.get_level_values('풋콜구분')

In [101]:
# df[df.index.get_level_values('거래일자') == 20230911]['종가', strike_price][date][option_type][915]

In [102]:
df_nan

                      종가                                                   \
행사가                307.5 310.0 312.5 315.0  317.5 320.0 322.5 325.0 327.5
거래일자     풋콜구분 시각
20230811 CALL 915    NaN   NaN   NaN   NaN    NaN   NaN   NaN   NaN   NaN
              1515   NaN   NaN   NaN   NaN    NaN   NaN   NaN   NaN   NaN
         PUT  915    NaN   NaN   NaN   NaN    NaN   NaN   NaN   NaN   NaN
              1515   NaN   NaN   NaN   NaN    NaN   NaN   NaN   NaN   NaN
20230814 CALL 915    NaN   NaN   NaN   NaN    NaN   NaN   NaN   NaN   NaN
...                  ...   ...   ...   ...    ...   ...   ...   ...   ...
20231010 PUT  1515   NaN   NaN  3.16   NaN   4.80  5.82   NaN   NaN   NaN
20231011 CALL 915    NaN   NaN   NaN   NaN  11.20  9.41   NaN  6.21  4.90
              1515   NaN   NaN   NaN   NaN    NaN  9.17  7.60  6.15  4.88
         PUT  915   1.01  1.30  1.66  2.13   2.66  3.39   NaN   NaN   NaN
              1515  1.10  1.41  1.79  2.27   2.86  3.59  4.43  5.49  6.66

                                                                            \
행사가                 330.0  332.5 335.0 337.5 340.0 342.5 345.0 347.5 350.0
거래일자     풋콜구분 시각
20230811 CALL 915   14.70  12.70   NaN   NaN  7.40  5.91  4.66  3.57  2.66
              1515    NaN    NaN  8.23  6.65  5.26  4.04  3.02  2.21  1.56
         PUT  915    1.43   1.88  2.44  3.13  3.99  5.03  6.25  7.68   NaN
              1515   1.92   2.50  3.24  4.13  5.24  6.52   NaN   NaN   NaN
20230814 CALL 915     NaN    NaN  7.42  5.90  4.60  3.50  2.59  1.86   NaN
...                   ...    ...   ...   ...   ...   ...   ...   ...   ...
20231010 PUT  1515    NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
20231011 CALL 915     NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
              1515    NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
         PUT  915     NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
              1515    NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN


행사가                352.5
거래일자     풋콜구분 시각
20230811 CALL 915    NaN
              1515   NaN
         PUT  915    NaN
              1515   NaN
20230814 CALL 915    NaN
...                  ...
20231010 PUT  1515   NaN
20231011 CALL 915    NaN
              1515   NaN
         PUT  915    NaN
              1515   NaN

[152 rows x 19 columns]

In [103]:
##### 풋/콜별 - 매수/매도별 수익 데이터프레임 만들기

# 원본 데이터프레임을 가정합니다.
# 데이터를 로드하는 코드가 필요하며 데이터프레임 이름은 df로 가정합니다.

# 새로운 데이터프레임을 생성합니다.
profit_data_nan = pd.DataFrame(columns=['거래일자', '행사가', '풋콜구분', '수익'])

# '행사가' 값을 columns에서 가져오기
strike_prices = df_nan.columns.levels[1]

# 모든 거래일자, 행사가, 풋콜구분 조합에 대해 반복합니다.
for date in df_nan.index.get_level_values('거래일자').unique():
    for strike_price in strike_prices:
        for option_type in df_nan.index.get_level_values('풋콜구분').unique():
            # 특정 날짜(date)에 대한 데이터를 가져옵니다.
            selected_date_data = df_nan[df_nan.index.get_level_values('거래일자') == date]

            # 9시에 콜/풋 옵션을 사는 가격을 가져옵니다.
            try:
                buy_price = selected_date_data['종가', strike_price][date][option_type][915]
            except KeyError:
                buy_price = None

            # 15시에 콜/풋 옵션을 팔아서 얻는 가격을 가져옵니다.
            try:
                sell_price = selected_date_data['종가', strike_price][date][option_type][1515]
            except KeyError:
                sell_price = None

            # NaN 값이 있는 경우에 대비하여 수익 계산
            if buy_price is not None and sell_price is not None:
                profit = round(sell_price - buy_price, 2)
            else:
                profit = None

            # 결과를 새로운 데이터프레임에 추가
            if profit is not None:
                profit_data_nan = pd.concat([profit_data_nan, pd.DataFrame({
                    '거래일자': [date],
                    '행사가': [strike_price],
                    '풋콜구분': [option_type],
                    # '매수/매도': 
                    '수익': [profit]
                })], ignore_index=True)

# 결과 데이터프레임을 출력하거나 저장할 수 있습니다.
print(profit_data_nan)

          거래일자    행사가  풋콜구분  수익
0     20230811  307.5  CALL NaN
1     20230811  307.5   PUT NaN
2     20230811  310.0  CALL NaN
3     20230811  310.0   PUT NaN
4     20230811  312.5  CALL NaN
...        ...    ...   ...  ..
1439  20231011  347.5   PUT NaN
1440  20231011  350.0  CALL NaN
1441  20231011  350.0   PUT NaN
1442  20231011  352.5  CALL NaN
1443  20231011  352.5   PUT NaN

[1444 rows x 4 columns]

In [104]:
##### 풋/콜별 - 매수/매도별 수익 데이터프레임 만들기

# 원본 데이터프레임을 가정합니다.
# 데이터를 로드하는 코드가 필요하며 데이터프레임 이름은 df로 가정합니다.

# 새로운 데이터프레임을 생성합니다.
profit_data = pd.DataFrame(columns=["거래일자", "행사가", "풋콜구분", "수익"])

# '행사가' 값을 columns에서 가져오기
strike_prices = df.columns.levels[1]

# 모든 거래일자, 행사가, 풋콜구분 조합에 대해 반복합니다.
for date in df.index.get_level_values("거래일자").unique():
    for strike_price in strike_prices:
        for option_type in df.index.get_level_values("풋콜구분").unique():
            # 특정 날짜(date)에 대한 데이터를 가져옵니다.
            selected_date_data = df[df.index.get_level_values("거래일자") == date]

            # 9시에 콜/풋 옵션을 사는 가격을 가져옵니다.
            try:
                buy_price = selected_date_data["종가", strike_price][date][option_type][
                    915
                ]
            except KeyError:
                buy_price = None

            # 15시에 콜/풋 옵션을 팔아서 얻는 가격을 가져옵니다.
            try:
                sell_price = selected_date_data["종가", strike_price][date][option_type][
                    1515
                ]
            except KeyError:
                sell_price = None

            # NaN 값이 있는 경우에 대비하여 수익 계산
            if buy_price is not None and sell_price is not None:
                profit = round(sell_price - buy_price, 2)
            else:
                profit = None

            # 결과를 새로운 데이터프레임에 추가
            if profit is not None:
                profit_data = pd.concat(
                    [
                        profit_data,
                        pd.DataFrame(
                            {
                                "거래일자": [date],
                                "행사가": [strike_price],
                                "풋콜구분": [option_type],
                                # '매수/매도':
                                "수익": [profit],
                            }
                        ),
                    ],
                    ignore_index=True,
                )

# 결과 데이터프레임을 출력하거나 저장할 수 있습니다.
print(profit_data)

          거래일자    행사가  풋콜구분  수익
0     20230811  307.5  CALL NaN
1     20230811  307.5   PUT NaN
2     20230811  310.0  CALL NaN
3     20230811  310.0   PUT NaN
4     20230811  312.5  CALL NaN
...        ...    ...   ...  ..
1439  20231011  347.5   PUT NaN
1440  20231011  350.0  CALL NaN
1441  20231011  350.0   PUT NaN
1442  20231011  352.5  CALL NaN
1443  20231011  352.5   PUT NaN

[1444 rows x 4 columns]

In [105]:
profit_data.to_csv("./profit.csv")
profit_data_nan.to_csv('./profit_nan.csv')

In [106]:
profit_data = profit_data[profit_data["거래일자"] != 20230914]
profit_data_nan = profit_data_nan[profit_data_nan["거래일자"] != 20230914]
profit_data

          거래일자    행사가  풋콜구분  수익
0     20230811  307.5  CALL NaN
1     20230811  307.5   PUT NaN
2     20230811  310.0  CALL NaN
3     20230811  310.0   PUT NaN
4     20230811  312.5  CALL NaN
...        ...    ...   ...  ..
1439  20231011  347.5   PUT NaN
1440  20231011  350.0  CALL NaN
1441  20231011  350.0   PUT NaN
1442  20231011  352.5  CALL NaN
1443  20231011  352.5   PUT NaN

[1406 rows x 4 columns]

In [107]:
# pd.pivot_table(data, index=['거래일자', '풋콜구분', '시각'], columns='행사가', values=['종가'])

In [108]:
pivot_profit = pd.pivot_table(
    profit_data, index=["거래일자", "풋콜구분"], columns="행사가", values="수익"
)
pivot_profit_nan = pd.pivot_table(
    profit_data_nan, index=["거래일자", "풋콜구분"], columns="행사가", values="수익"
)

In [109]:
pivot_profit.to_csv("./pivot_profit_1515.csv")
pivot_profit_nan.to_csv("./pivot_profit_1515_nan.csv")

In [110]:
df

                       종가                                                \
행사가                 307.5  310.0  312.5  315.0  317.5 320.0 322.5 325.0
거래일자     풋콜구분 시각
20230811 CALL 915     NaN    NaN    NaN    NaN    NaN   NaN   NaN   NaN
              1515    NaN    NaN    NaN    NaN    NaN   NaN   NaN   NaN
         PUT  915     NaN    NaN    NaN    NaN    NaN   NaN   NaN   NaN
              1515    NaN    NaN    NaN    NaN    NaN   NaN   NaN   NaN
20230814 CALL 915     NaN    NaN    NaN    NaN    NaN   NaN   NaN   NaN
...                   ...    ...    ...    ...    ...   ...   ...   ...
20231010 PUT  1515   2.02   2.54   3.16   3.90   4.80  5.82  7.04  8.25
20231011 CALL 915     NaN    NaN    NaN  13.00  11.20  9.41  7.83  6.21
              1515  20.45  17.90  16.00  13.20  10.90  9.17  7.60  6.15
         PUT  915    1.01   1.30   1.66   2.13   2.66  3.39  4.23  5.21
              1515   1.10   1.41   1.79   2.27   2.86  3.59  4.43  5.49

                                                                              \
행사가                 327.5  330.0  332.5  335.0 337.5 340.0 342.5 345.0 347.5
거래일자     풋콜구분 시각
20230811 CALL 915     NaN  14.70  12.70  10.75  8.94  7.40  5.91  4.66  3.57
              1515    NaN  12.00  10.15   8.23  6.65  5.26  4.04  3.02  2.21
         PUT  915     NaN   1.43   1.88   2.44  3.13  3.99  5.03  6.25  7.68
              1515    NaN   1.92   2.50   3.24  4.13  5.24  6.52  7.91  9.60
20230814 CALL 915     NaN  11.00   9.16   7.42  5.90  4.60  3.50  2.59  1.86
...                   ...    ...    ...    ...   ...   ...   ...   ...   ...
20231010 PUT  1515  10.00    NaN    NaN    NaN   NaN   NaN   NaN   NaN   NaN
20231011 CALL 915    4.90    NaN    NaN    NaN   NaN   NaN   NaN   NaN   NaN
              1515   4.88    NaN    NaN    NaN   NaN   NaN   NaN   NaN   NaN
         PUT  915    6.38    NaN    NaN    NaN   NaN   NaN   NaN   NaN   NaN
              1515   6.66    NaN    NaN    NaN   NaN   NaN   NaN   NaN   NaN


행사가                 350.0 352.5
거래일자     풋콜구분 시각
20230811 CALL 915    2.66   NaN
              1515   1.56   NaN
         PUT  915    9.21   NaN
              1515  11.50   NaN
20230814 CALL 915     NaN   NaN
...                   ...   ...
20231010 PUT  1515    NaN   NaN
20231011 CALL 915     NaN   NaN
              1515    NaN   NaN
         PUT  915     NaN   NaN
              1515    NaN   NaN

[152 rows x 19 columns]

In [111]:
df[df.index.get_level_values('거래일자') == 20230914]

                      종가                                                    \
행사가                307.5 310.0 312.5 315.0 317.5 320.0 322.5  325.0  327.5
거래일자     풋콜구분 시각
20230914 CALL 915    NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN   9.98
              1515   NaN   NaN   NaN   NaN   NaN   NaN   NaN  14.95  12.40
         PUT  915    NaN   NaN   NaN   NaN   NaN   NaN   NaN   0.01   0.01
              1515   NaN   NaN   NaN   NaN   NaN   NaN   NaN   0.01   0.01


행사가                330.0 332.5 335.0 337.5 340.0 342.5 345.0 347.5 350.0 352.5
거래일자     풋콜구분 시각
20230914 CALL 915   7.21  4.66  2.29  0.60  0.06  0.01  0.01   NaN   NaN   NaN
              1515  9.99  7.64  5.14  2.66  0.38  0.01  0.01   NaN   NaN   NaN
         PUT  915   0.01  0.02  0.18  0.97  2.94  5.33  8.05   NaN   NaN   NaN
              1515  0.01  0.01  0.01  0.01  0.24  2.36  4.88   NaN   NaN   NaN