##### kospi 200 45분 기준 거래량 전처리
* 전일 변동율 = (전날종가-전날시가)/전날시가 yesterday_change <br>
* 야간 변동율 = (당일시가-전날종가)/전날종가 night_change <br>
* 데이터 기간 : 2023/07/31 ~ 2023/10/20

In [215]:
import pandas as pd
import os

In [216]:
df = pd.read_csv("../dataset/ks200_F202312_45min_tran.csv", index_col=0)

In [217]:
def make_df(df):
   # 컬럼명 변경 : 현재가 거래량 체결시간 시가 고가 저가 수정주가 이벤트 전일종가
   df.columns=['now','ks200_transaction','time','open','high','low','adj_event','yesterday_close'] 

   # 사용하지 않는 컬럼 제거 및 컬럼 순서 변경
   df.drop(['open','high','low','adj_event','yesterday_close'],axis=1, inplace=True)
   df = df[['time','ks200_transaction']]

   # 시간별로 정렬 & 인덱스 초기화 및 생성
   df = df.sort_values(by='time')
   df.reset_index(drop=True, inplace=True)

   # 결측치 없도록 7/28~10/20일 데이터 추출 
   sort_df = df[319:860]
   sort_df.reset_index(drop=True, inplace=True)

In [218]:
# 컬럼명 변경 : 현재가 거래량 체결시간 시가 고가 저가 수정주가이벤트 전일종가
df.columns=['now','ks200_transaction','time','open','high','low','adj_event','yesterday_close']

In [219]:
# 사용하지 않는 컬럼 제거 및 컬럼 순서 변경
df.drop(['open','high','low','adj_event','yesterday_close'],axis=1, inplace=True)
df = df[['time','ks200_transaction']]

In [220]:
# 시간별로 
df = df.sort_values(by='time')
df.reset_index(drop=True, inplace=True)
sort_df = df[319:860]
sort_df.reset_index(drop=True, inplace=True)

In [221]:
sort_df

               time  ks200_transaction
0    20230728150000                 76
1    20230731084500                127
2    20230731093000                 62
3    20230731101500                 97
4    20230731110000                 12
..              ...                ...
536  20231020123000              17533
537  20231020131500              17767
538  20231020140000              23732
539  20231020144500              35373
540  20231020153000              10453

[541 rows x 2 columns]

In [222]:
sort_df['time'] = sort_df['time'].astype(str)
time_ymd = sort_df['time'].str[:8]
time_array = time_ymd.unique()

C:\Users\LGPC\AppData\Local\Temp\ipykernel_20576\2974494682.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sort_df['time'] = sort_df['time'].astype(str)

In [223]:
time_list = time_array.tolist()
len(time_list)

55

In [224]:
row_july_28 = df[df['time']==20230728094500]
tran_july_28 = row_july_28['ks200_transaction'].iloc[0]
tran_july_28

74

In [225]:
df2 = df[320:860]
df2.reset_index(drop=True, inplace=True)
df2

               time  ks200_transaction
0    20230731084500                127
1    20230731093000                 62
2    20230731101500                 97
3    20230731110000                 12
4    20230731114500                 25
..              ...                ...
535  20231020123000              17533
536  20231020131500              17767
537  20231020140000              23732
538  20231020144500              35373
539  20231020153000              10453

[540 rows x 2 columns]

In [226]:
# 1부터 10씩 더한 인덱스 행 추출
list = []
for i in range (1,532,10):
    result = df2['ks200_transaction'].iloc[i]
    list.append(result)

len(list)

54

In [227]:
list.insert(0, tran_july_28)
len(list)

55

In [228]:
data = {'date': time_list, 'ks200F_930_transaction':list}
df = pd.DataFrame(data)
df

        date  ks200F_930_transaction
0   20230728                      74
1   20230731                      62
2   20230801                     154
3   20230802                      32
4   20230803                      37
5   20230804                      59
6   20230807                      35
7   20230808                     131
8   20230809                      76
9   20230810                      63
10  20230811                      69
11  20230814                     146
12  20230816                     187
13  20230817                     156
14  20230818                     115
15  20230821                     119
16  20230822                      71
17  20230823                      47
18  20230824                      71
19  20230825                     133
20  20230828                     118
21  20230829                     112
22  20230830                     142
23  20230831                     200
24  20230901                     233
25  20230904                     317
26  20230905                     213
27  20230906                     392
28  20230907                     506
29  20230908                    1512
30  20230911                    1545
31  20230912                    4606
32  20230913                    7918
33  20230914                    9754
34  20230915                   40597
35  20230918                   23015
36  20230919                   28626
37  20230920                   22779
38  20230921                   43288
39  20230922                   32341
40  20230925                   25358
41  20230926                   37063
42  20230927                   29198
43  20231004                   39425
44  20231005                   39454
45  20231006                   32781
46  20231010                   39249
47  20231011                   35594
48  20231012                   36504
49  20231013                   33486
50  20231016                   37524
51  20231017                   27379
52  20231018                   34977
53  20231019                   33247
54  20231020                   47917

In [229]:
df['date'] = pd.to_datetime(df['date'], format="%Y%m%d")

In [231]:
# 7월 28일 드롭
df = df[1:]

In [ ]:
def make_df(usd):

In [233]:
usd = pd.read_csv("../dataset/usd_krw.csv")

# 고가, 저가 드롭
usd = usd.drop(['high','low'], axis=1)

# 특수문자 제거, 데이터 타입 변경
usd['close'] = usd['close'].str.replace(',','')
usd['open'] = usd['open'].str.replace(',','')


usd[['close','open']] = usd[['close','open']].astype(float)
usd['date'] = pd.to_datetime(usd['date'])

# 날짜순으로 오름차순 정렬
usd = usd.sort_values(by='date')

# 인덱스 변경
usd.reset_index(drop=True, inplace=True)

# 소수점 셋째자리 맞춤
# 파생변수 생성 (전일 변동율 = yesterday_change)
usd['usd_yesterday_change'] = round((usd['close']-usd['open'])/usd['open']*100, 3)
usd['usd_yesterday_change'] = usd['usd_yesterday_change'].shift(1)

# 파생변수 생성(야간 변동율 = night_change)
usd['close_shift'] = usd['close'].shift(1)
usd['usd_night_change'] = round((usd['open']-usd['close_shift'])/usd['close_shift']*100,3)

usd.drop('close_shift',axis=1,inplace=True)

# 종가 기준 변동율 전처리 및 데이터 형태 변환( 단위 : % )
usd['close_change'] = usd['close_change'].str.replace('%','')
usd['close_change'] = usd['close_change'].astype(float)

# 7월 31일부터로 기간 설정
usd = usd.loc[1:,]
usd = usd[['date','usd_yesterday_change','usd_night_change']]

In [234]:
usd

         date  usd_yesterday_change  usd_night_change
1  2023-07-31                -0.883             0.039
2  2023-08-01                 0.356             0.033
3  2023-08-02                 0.839             0.031
4  2023-08-03                 0.739             0.042
5  2023-08-04                -0.035             0.071
6  2023-08-07                 0.319             0.016
7  2023-08-08                 0.231             0.048
8  2023-08-09                 0.672             0.023
9  2023-08-10                -0.299             0.002
10 2023-08-11                 0.289             0.094
11 2023-08-14                 0.923             0.023
12 2023-08-15                 0.466             0.085
13 2023-08-16                -0.114             0.034
14 2023-08-17                 0.325             0.054
15 2023-08-18                -0.199             0.037
16 2023-08-21                -0.044             0.075
17 2023-08-22                -0.076             0.066
18 2023-08-23                -0.017             0.075
19 2023-08-24                -1.073             0.113
20 2023-08-25                -0.043             0.075
21 2023-08-28                -0.362             0.079
22 2023-08-29                -0.057             0.030
23 2023-08-30                -0.464             0.041
24 2023-08-31                 0.371             0.023
25 2023-09-01                 0.102             0.024
26 2023-09-04                -0.597             0.068
27 2023-09-05                -0.094             0.091
28 2023-09-06                 0.807             0.068
29 2023-09-07                 0.273             0.071
30 2023-09-08                -0.081             0.100
31 2023-09-11                 0.013             0.103
32 2023-09-12                -0.812             0.042
33 2023-09-13                 0.008             0.043
34 2023-09-14                -0.010             0.121
35 2023-09-15                 0.099             0.038
36 2023-09-18                -0.117             0.072
37 2023-09-19                -0.440             0.036
38 2023-09-20                 0.345             0.028
39 2023-09-21                 0.296             0.039
40 2023-09-22                 0.417             0.043
41 2023-09-25                -0.414             0.115
42 2023-09-26                 0.183             0.126
43 2023-09-27                 0.988             0.086
44 2023-09-28                 0.032             0.069
45 2023-09-29                -0.436             0.074
46 2023-10-02                 0.130             0.025
47 2023-10-03                 0.236             0.096
48 2023-10-04                 0.290             0.071
49 2023-10-05                -0.766             0.069
50 2023-10-06                -0.505             0.046
51 2023-10-09                -0.128            -0.007
52 2023-10-10                 0.149             0.086
53 2023-10-11                -0.470             0.096
54 2023-10-12                -0.313             0.084
55 2023-10-13                 0.703             0.033
56 2023-10-16                 0.208             0.064
57 2023-10-17                -0.382             0.025
58 2023-10-18                 0.351             0.042
59 2023-10-19                 0.023             0.120
60 2023-10-20                 0.040             0.080

In [235]:
merge_df = pd.merge(df,usd,on='date',how='inner')

In [241]:
merge_df.columns

Index(['date', 'ks200F_930_transaction', 'usd_yesterday_change',
       'usd_night_change'],
      dtype='object')

In [243]:
merge_df.drop('ks200F_930_transaction',axis=1, inplace=True)

In [244]:
# 환율 최종 데이터 파일 추출
os.chdir("C:/Users/LGPC/Desktop/oncoding/Project1/dataset")
merge_df.to_csv("C:/Users/LGPC/Desktop/oncoding/Project1/dataset/usd_krw_final.csv")

#### 수정 코드

In [9]:
# csv 파일로 새로 저장
os.chdir("C:/Users/LGPC/Desktop/oncoding/Project1/dataset")
df.to_csv("C:/Users/LGPC/Desktop/oncoding/Project1/dataset/ks200_transaction_final.csv")