In [58]:
import pandas as pd

In [59]:
jpy = pd.read_csv('../data/JPY_KRW.csv', index_col=0)
jpy

                  종가      시가      고가      저가  거래량    변동 %
날짜
2023- 10- 31  9.0189  9.0479  9.0479  9.0115  NaN  -0.05%
2023- 10- 30  9.0232  9.0695  9.0727  8.9970  NaN  -0.39%
2023- 10- 29  9.0581  9.0616  9.0720  9.0561  NaN   0.03%
2023- 10- 27  9.0551  9.0001  9.0828  8.9725  NaN   0.69%
2023- 10- 26  8.9934  9.0070  9.0736  8.9930  NaN  -0.08%
...              ...     ...     ...     ...  ...     ...
2022- 10- 19  9.5716  9.5484  9.5917  9.4738  NaN   0.27%
2022- 10- 18  9.5460  9.6086  9.6199  9.5308  NaN  -0.59%
2022- 10- 17  9.6031  9.7124  9.7148  9.5988  NaN  -0.83%
2022- 10- 14  9.6830  9.7264  9.7531  9.6607  NaN  -0.35%
2022- 10- 13  9.7174  9.6988  9.8540  9.6941  NaN   0.22%

[275 rows x 6 columns]

In [60]:
jpy = jpy[::-1]

In [61]:
jpy = jpy.reset_index()

In [62]:
jpy = jpy[['날짜', '종가', '시가']]

In [63]:
jpy

               날짜      종가      시가
0    2022- 10- 13  9.7174  9.6988
1    2022- 10- 14  9.6830  9.7264
2    2022- 10- 17  9.6031  9.7124
3    2022- 10- 18  9.5460  9.6086
4    2022- 10- 19  9.5716  9.5484
..            ...     ...     ...
270  2023- 10- 26  8.9934  9.0070
271  2023- 10- 27  9.0551  9.0001
272  2023- 10- 29  9.0581  9.0616
273  2023- 10- 30  9.0232  9.0695
274  2023- 10- 31  9.0189  9.0479

[275 rows x 3 columns]

In [64]:
jpy['종가'] = jpy['종가'].shift(1)

In [65]:
jpy['야간 변동률'] = round((jpy['시가'] - jpy['종가']) / jpy['종가'] * 100, 3)

In [66]:
jpy = jpy.dropna()

In [67]:
jpy = jpy[1:266]

In [68]:
jpy = jpy.reset_index(drop=True)

In [69]:
jpy['날짜'] = pd.to_datetime(jpy['날짜'])

In [70]:
jpy[120:]

            날짜       종가       시가  야간 변동률
120 2023-04-03   9.8337   9.8243  -0.096
121 2023-04-04   9.8813   9.8862   0.050
122 2023-04-05   9.9459   9.9505   0.046
123 2023-04-06  10.0293  10.0329   0.036
124 2023-04-07  10.0046  10.0094   0.048
..         ...      ...      ...     ...
260 2023-10-16   9.0406   9.0518   0.124
261 2023-10-17   9.0146   9.0180   0.038
262 2023-10-18   9.0301   9.0347   0.051
263 2023-10-19   9.0293   9.0396   0.114
264 2023-10-20   9.0528   9.0605   0.085

[145 rows x 4 columns]

In [71]:
jpy[125:255].reset_index(drop=True)[['날짜', '야간 변동률']].to_csv('../half_clean_feature/jpy_half.csv')

In [72]:
jpy[170:255].reset_index(drop=True)[['날짜', '야간 변동률']].to_csv('../quater_clean_feature/jpy_quater.csv')

In [73]:
jpy[210:255].reset_index(drop=True)[['날짜', '야간 변동률']].to_csv('../two_month_clean_feature/jpy_2month.csv')

In [74]:
jpy[210:255]

            날짜      종가      시가  야간 변동률
210 2023-08-07  9.1979  9.2001   0.024
211 2023-08-08  9.1721  9.1793   0.078
212 2023-08-09  9.1815  9.1855   0.044
213 2023-08-10  9.1357  9.1393   0.039
214 2023-08-11  9.0971  9.1018   0.052
215 2023-08-14  9.1751  9.1776   0.027
216 2023-08-15  9.1901  9.1916   0.016
217 2023-08-16  9.1793  9.1831   0.041
218 2023-08-17  9.1651  9.1725   0.081
219 2023-08-18  9.1825  9.1852   0.029
220 2023-08-21  9.2096  9.2212   0.126
221 2023-08-22  9.1597  9.1709   0.122
222 2023-08-23  9.1831  9.1905   0.081
223 2023-08-24  9.1566  9.1679   0.123
224 2023-08-25  9.1008  9.1088   0.088
225 2023-08-28  9.0380  9.0458   0.086
226 2023-08-29  9.0332  9.0359   0.030
227 2023-08-30  9.0346  9.0386   0.044
228 2023-08-31  9.0483  9.0513   0.033
229 2023-09-01  9.1037  9.1068   0.034
230 2023-09-04  9.0083  9.0182   0.110
231 2023-09-05  8.9942  9.0021   0.088
232 2023-09-06  8.9965  9.0023   0.064
233 2023-09-07  9.0308  9.0379   0.079
234 2023-09-08  9.0526  9.0619   0.103
235 2023-09-11  9.0310  9.0903   0.657
236 2023-09-12  9.0415  9.0482   0.074
237 2023-09-13  9.0159  9.0222   0.070
238 2023-09-14  8.9957  9.0055   0.109
239 2023-09-15  9.0149  9.0180   0.034
240 2023-09-18  8.9846  8.9981   0.150
241 2023-09-19  8.9661  8.9702   0.046
242 2023-09-20  8.9851  8.9879   0.031
243 2023-09-21  8.9856  8.9884   0.031
244 2023-09-22  9.0712  9.0760   0.053
245 2023-09-25  8.9900  9.0012   0.125
246 2023-09-26  8.9866  8.9947   0.090
247 2023-09-27  9.0735  9.0837   0.112
248 2023-09-28  9.0520  9.0613   0.103
249 2023-09-29  9.0380  9.0459   0.087
250 2023-10-02  9.0487  9.0474  -0.014
251 2023-10-03  9.0468  9.0562   0.104
252 2023-10-04  9.1323  9.1394   0.078
253 2023-10-05  9.0633  9.0684   0.056
254 2023-10-06  9.0609  9.0657   0.053