In [74]:
import pandas as pd

In [75]:
kospi = pd.read_csv('../data/KOSPI.csv', index_col=0)
kospi

                    종가        시가        고가        저가      거래량    변동 %
날짜
2023- 10- 31  2,284.70  2,318.39  2,322.45  2,280.75  273.04K  -1.12%
2023- 10- 30  2,310.55  2,292.34  2,317.75  2,292.34  444.84K   0.34%
2023- 10- 27  2,302.81  2,311.59  2,321.84  2,293.05  514.88M   0.16%
2023- 10- 26  2,299.08  2,325.82  2,330.55  2,299.08  531.07M  -2.71%
2023- 10- 25  2,363.17  2,389.23  2,389.90  2,362.69  440.81M  -0.85%
...                ...       ...       ...       ...      ...     ...
2022- 10- 19  2,237.44  2,249.35  2,266.80  2,234.59  895.16M  -0.56%
2022- 10- 18  2,249.95  2,249.15  2,251.74  2,220.71  580.89M   1.36%
2022- 10- 17  2,219.71  2,187.17  2,221.05  2,177.66  498.78M   0.32%
2022- 10- 14  2,212.55  2,200.66  2,220.54  2,193.63  513.52M   2.30%
2022- 10- 13  2,162.87  2,198.29  2,198.34  2,162.87  792.45M  -1.80%

[260 rows x 6 columns]

In [76]:
kospi = kospi[::-1]
kospi.info()

<class 'pandas.core.frame.DataFrame'>
Index: 260 entries, 2022- 10- 13 to 2023- 10- 31
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종가      260 non-null    object
 1   시가      260 non-null    object
 2   고가      260 non-null    object
 3   저가      260 non-null    object
 4   거래량     260 non-null    object
 5   변동 %    260 non-null    object
dtypes: object(6)
memory usage: 14.2+ KB

In [77]:
kospi = kospi.reset_index()

In [78]:
kospi.head(3)

             날짜        종가        시가        고가        저가      거래량    변동 %
0  2022- 10- 13  2,162.87  2,198.29  2,198.34  2,162.87  792.45M  -1.80%
1  2022- 10- 14  2,212.55  2,200.66  2,220.54  2,193.63  513.52M   2.30%
2  2022- 10- 17  2,219.71  2,187.17  2,221.05  2,177.66  498.78M   0.32%

In [79]:
kospi = kospi[['날짜', '종가', '시가', '변동 %']]

In [80]:
kospi['변동 %'] = kospi['변동 %'].astype(str)
kospi["변동 %"] = kospi["변동 %"].str.rstrip('%')
kospi["변동 %"] = kospi["변동 %"].astype(float)

kospi["시가"] = kospi["시가"].str.replace(',', '')
kospi["시가"] = kospi["시가"].astype(float)

kospi["종가"] = kospi["종가"].str.replace(',', '')
kospi["종가"] = kospi["종가"].astype(float)

In [81]:
kospi['변동 %'] = kospi['변동 %'].shift(1)
kospi

               날짜       종가       시가  변동 %
0    2022- 10- 13  2162.87  2198.29   NaN
1    2022- 10- 14  2212.55  2200.66 -1.80
2    2022- 10- 17  2219.71  2187.17  2.30
3    2022- 10- 18  2249.95  2249.15  0.32
4    2022- 10- 19  2237.44  2249.35  1.36
..            ...      ...      ...   ...
255  2023- 10- 25  2363.17  2389.23  1.12
256  2023- 10- 26  2299.08  2325.82 -0.85
257  2023- 10- 27  2302.81  2311.59 -2.71
258  2023- 10- 30  2310.55  2292.34  0.16
259  2023- 10- 31  2284.70  2318.39  0.34

[260 rows x 4 columns]

In [82]:
kospi = kospi.dropna()

In [83]:
kospi['종가'] = kospi['종가'].shift(1)

/var/folders/y7/kjtd2q_j0c13ld5lwg5kd25r0000gn/T/ipykernel_86195/3770697944.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kospi['종가'] = kospi['종가'].shift(1)

In [84]:
kospi.info()

<class 'pandas.core.frame.DataFrame'>
Index: 259 entries, 1 to 259
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      259 non-null    object
 1   종가      258 non-null    float64
 2   시가      259 non-null    float64
 3   변동 %    259 non-null    float64
dtypes: float64(3), object(1)
memory usage: 10.1+ KB

In [85]:
kospi['야간변화율'] = round(((kospi['시가'] - kospi['종가']) / kospi['종가']) * 100, 3)

/var/folders/y7/kjtd2q_j0c13ld5lwg5kd25r0000gn/T/ipykernel_86195/371561438.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kospi['야간변화율'] = round(((kospi['시가'] - kospi['종가']) / kospi['종가']) * 100, 3)

In [86]:
kospi = kospi.dropna()
kospi.info()

<class 'pandas.core.frame.DataFrame'>
Index: 258 entries, 2 to 259
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      258 non-null    object
 1   종가      258 non-null    float64
 2   시가      258 non-null    float64
 3   변동 %    258 non-null    float64
 4   야간변화율   258 non-null    float64
dtypes: float64(4), object(1)
memory usage: 12.1+ KB

In [87]:
kospi['날짜'] = pd.to_datetime(kospi['날짜'])

In [88]:
kospi = kospi[:251]

In [89]:
kospi = kospi.reset_index(drop=True)

In [90]:
kospi

            날짜       종가       시가  변동 %  야간변화율
0   2022-10-17  2212.55  2187.17  2.30 -1.147
1   2022-10-18  2219.71  2249.15  0.32  1.326
2   2022-10-19  2249.95  2249.35  1.36 -0.027
3   2022-10-20  2237.44  2225.53 -0.56 -0.532
4   2022-10-21  2218.09  2210.59 -0.86 -0.338
..         ...      ...      ...   ...    ...
246 2023-10-16  2456.15  2442.43 -0.95 -0.559
247 2023-10-17  2436.24  2454.14 -0.81  0.735
248 2023-10-18  2460.17  2452.05  0.98 -0.330
249 2023-10-19  2462.60  2431.92  0.10 -1.246
250 2023-10-20  2415.80  2391.54 -1.90 -1.004

[251 rows x 5 columns]

In [91]:
kospi[121:242].reset_index(drop=True)[['날짜', '변동 %', '야간변화율']].to_csv('../half_clean_feature/kospi_half.csv')

In [92]:
kospi[162:242].reset_index(drop=True)[['날짜', '변동 %', '야간변화율']].to_csv('../quater_clean_feature/kospi_quater.csv')

In [93]:
kospi[202:242].reset_index(drop=True)[['날짜', '변동 %', '야간변화율']].to_csv('../two_month_clean_feature/kospi_2month.csv')

In [94]:
kospi[202:242]

            날짜       종가       시가  변동 %  야간변화율
202 2023-08-07  2602.80  2591.58 -0.10 -0.431
203 2023-08-08  2580.71  2598.29 -0.85  0.681
204 2023-08-09  2573.98  2580.60 -0.26  0.257
205 2023-08-10  2605.12  2592.40  1.21 -0.488
206 2023-08-11  2601.56  2611.25 -0.14  0.372
207 2023-08-14  2591.26  2586.51 -0.40 -0.183
208 2023-08-16  2570.87  2550.13 -0.79 -0.807
209 2023-08-17  2525.64  2512.92 -1.76 -0.504
210 2023-08-18  2519.85  2495.18 -0.23 -0.979
211 2023-08-21  2504.50  2511.70 -0.61  0.287
212 2023-08-22  2508.80  2528.39  0.17  0.781
213 2023-08-23  2515.74  2510.00  0.28 -0.228
214 2023-08-24  2505.50  2531.78 -0.41  1.049
215 2023-08-25  2537.68  2505.39  1.28 -1.272
216 2023-08-28  2519.14  2534.42 -0.73  0.607
217 2023-08-29  2543.41  2550.76  0.96  0.289
218 2023-08-30  2552.16  2575.42  0.34  0.911
219 2023-08-31  2561.22  2564.45  0.35  0.126
220 2023-09-01  2556.27  2551.93 -0.19 -0.170
221 2023-09-04  2563.71  2566.93  0.29  0.126
222 2023-09-05  2584.55  2578.91  0.81 -0.218
223 2023-09-06  2582.18  2577.41 -0.09 -0.185
224 2023-09-07  2563.34  2554.87 -0.73 -0.330
225 2023-09-08  2548.26  2546.07 -0.59 -0.086
226 2023-09-11  2547.68  2549.88 -0.02  0.086
227 2023-09-12  2556.88  2566.42  0.36  0.373
228 2023-09-13  2536.58  2536.22 -0.79 -0.014
229 2023-09-14  2534.70  2544.89 -0.07  0.402
230 2023-09-15  2572.89  2574.98  1.51  0.081
231 2023-09-18  2601.28  2588.69  1.10 -0.484
232 2023-09-19  2574.72  2579.36 -1.02  0.180
233 2023-09-20  2559.21  2556.55 -0.60 -0.104
234 2023-09-21  2559.74  2544.81  0.02 -0.583
235 2023-09-22  2514.97  2491.45 -1.75 -0.935
236 2023-09-25  2508.13  2504.10 -0.27 -0.161
237 2023-09-26  2495.76  2493.64 -0.49 -0.085
238 2023-09-27  2462.97  2447.99 -1.31 -0.608
239 2023-10-04  2465.07  2435.78  0.09 -1.188
240 2023-10-05  2405.69  2423.35 -2.41  0.734
241 2023-10-06  2403.60  2408.81 -0.09  0.217