In [49]:
import pandas as pd

In [50]:
ks200 = pd.read_csv('../data/KOSPI200.csv', index_col=0)
ks200

                  종가      시가      고가      저가      거래량    변동 %
날짜
2023- 10- 31  306.33  310.52  311.51  305.81   69.93K  -0.85%
2023- 10- 30  308.95  307.10  310.09  307.01   95.85K   0.14%
2023- 10- 27  308.53  309.68  310.43  307.24   92.93M   0.25%
2023- 10- 26  307.75  311.36  312.37  307.75  110.77M  -2.76%
2023- 10- 25  316.49  319.26  319.59  316.30   91.22M  -0.61%
...              ...     ...     ...     ...      ...     ...
2022- 10- 19  291.29  293.41  295.34  290.90  110.85M  -0.78%
2022- 10- 18  293.59  293.34  293.78  289.77  117.12M   1.39%
2022- 10- 17  289.57  285.89  290.04  284.91  111.60M   0.07%
2022- 10- 14  289.36  287.59  290.32  286.59  132.07M   2.40%
2022- 10- 13  282.57  286.27  286.36  282.57  133.29M  -1.57%

[260 rows x 6 columns]

In [51]:
ks200 = ks200[::-1]
ks200

                  종가      시가      고가      저가      거래량    변동 %
날짜
2022- 10- 13  282.57  286.27  286.36  282.57  133.29M  -1.57%
2022- 10- 14  289.36  287.59  290.32  286.59  132.07M   2.40%
2022- 10- 17  289.57  285.89  290.04  284.91  111.60M   0.07%
2022- 10- 18  293.59  293.34  293.78  289.77  117.12M   1.39%
2022- 10- 19  291.29  293.41  295.34  290.90  110.85M  -0.78%
...              ...     ...     ...     ...      ...     ...
2023- 10- 25  316.49  319.26  319.59  316.30   91.22M  -0.61%
2023- 10- 26  307.75  311.36  312.37  307.75  110.77M  -2.76%
2023- 10- 27  308.53  309.68  310.43  307.24   92.93M   0.25%
2023- 10- 30  308.95  307.10  310.09  307.01   95.85K   0.14%
2023- 10- 31  306.33  310.52  311.51  305.81   69.93K  -0.85%

[260 rows x 6 columns]

In [52]:
ks200 = ks200.reset_index()

In [53]:
ks200.head(3)

             날짜      종가      시가      고가      저가      거래량    변동 %
0  2022- 10- 13  282.57  286.27  286.36  282.57  133.29M  -1.57%
1  2022- 10- 14  289.36  287.59  290.32  286.59  132.07M   2.40%
2  2022- 10- 17  289.57  285.89  290.04  284.91  111.60M   0.07%

In [54]:
ks200 = ks200[['날짜', '종가', '시가', '변동 %']]

In [55]:
ks200['변동 %'] = ks200['변동 %'].astype(str)
ks200["변동 %"] = ks200["변동 %"].str.rstrip('%')
ks200["변동 %"] = ks200["변동 %"].astype(float)

In [56]:
ks200['변동 %'] = ks200['변동 %'].shift(1)
ks200

               날짜      종가      시가  변동 %
0    2022- 10- 13  282.57  286.27   NaN
1    2022- 10- 14  289.36  287.59 -1.57
2    2022- 10- 17  289.57  285.89  2.40
3    2022- 10- 18  293.59  293.34  0.07
4    2022- 10- 19  291.29  293.41  1.39
..            ...     ...     ...   ...
255  2023- 10- 25  316.49  319.26  0.93
256  2023- 10- 26  307.75  311.36 -0.61
257  2023- 10- 27  308.53  309.68 -2.76
258  2023- 10- 30  308.95  307.10  0.25
259  2023- 10- 31  306.33  310.52  0.14

[260 rows x 4 columns]

In [57]:
ks200 = ks200.dropna()

In [58]:
ks200['종가'] = ks200['종가'].shift(1)

/var/folders/y7/kjtd2q_j0c13ld5lwg5kd25r0000gn/T/ipykernel_86523/2144643337.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ks200['종가'] = ks200['종가'].shift(1)

In [59]:
ks200['야간변화율'] = round(((ks200['시가'] - ks200['종가']) / ks200['종가']) * 100, 3)

/var/folders/y7/kjtd2q_j0c13ld5lwg5kd25r0000gn/T/ipykernel_86523/1388436049.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ks200['야간변화율'] = round(((ks200['시가'] - ks200['종가']) / ks200['종가']) * 100, 3)

In [60]:
ks200 = ks200.dropna()
ks200.info()

<class 'pandas.core.frame.DataFrame'>
Index: 258 entries, 2 to 259
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      258 non-null    object
 1   종가      258 non-null    float64
 2   시가      258 non-null    float64
 3   변동 %    258 non-null    float64
 4   야간변화율   258 non-null    float64
dtypes: float64(4), object(1)
memory usage: 12.1+ KB

In [61]:
ks200['날짜'] = pd.to_datetime(ks200['날짜'])

In [62]:
ks200 = ks200[:251]

In [63]:
ks200 = ks200.reset_index(drop=True)

In [64]:
ks200

            날짜      종가      시가  변동 %  야간변화율
0   2022-10-17  289.36  285.89  2.40 -1.199
1   2022-10-18  289.57  293.34  0.07  1.302
2   2022-10-19  293.59  293.41  1.39 -0.061
3   2022-10-20  291.29  289.33 -0.78 -0.673
4   2022-10-21  288.61  287.68 -0.92 -0.322
..         ...     ...     ...   ...    ...
246 2023-10-16  325.77  324.10 -0.94 -0.513
247 2023-10-17  323.29  325.70 -0.76  0.745
248 2023-10-18  327.35  326.32  1.26 -0.315
249 2023-10-19  328.82  324.75  0.45 -1.238
250 2023-10-20  322.76  319.45 -1.84 -1.026

[251 rows x 5 columns]

In [65]:
ks200[121:242].reset_index(drop=True)[['날짜', '변동 %', '야간변화율']].to_csv('../half_clean_feature/ks200_half.csv')

In [66]:
ks200[162:242].reset_index(drop=True)[['날짜', '변동 %', '야간변화율']].to_csv('../quater_clean_feature/ks200_quater.csv')

In [67]:
ks200[202:242].reset_index(drop=True)[['날짜', '변동 %', '야간변화율']].to_csv('../two_month_clean_feature/ks200_2month.csv')

In [68]:
ks200[202:242]

            날짜      종가      시가  변동 %  야간변화율
202 2023-08-07  341.25  339.60 -0.08 -0.484
203 2023-08-08  339.68  342.12 -0.46  0.718
204 2023-08-09  337.95  339.00 -0.51  0.311
205 2023-08-10  341.61  339.69  1.08 -0.562
206 2023-08-11  340.46  341.88 -0.34  0.417
207 2023-08-14  338.98  338.58 -0.43 -0.118
208 2023-08-16  336.33  333.69 -0.78 -0.785
209 2023-08-17  331.28  329.63 -1.50 -0.498
210 2023-08-18  330.23  326.90 -0.32 -1.008
211 2023-08-21  328.42  329.45 -0.55  0.314
212 2023-08-22  328.84  331.65  0.13  0.855
213 2023-08-23  329.70  328.95  0.26 -0.227
214 2023-08-24  329.15  333.14 -0.17  1.212
215 2023-08-25  333.82  329.31  1.42 -1.351
216 2023-08-28  330.25  332.10 -1.07  0.560
217 2023-08-29  332.53  333.57  0.69  0.313
218 2023-08-30  333.76  337.11  0.37  1.004
219 2023-08-31  334.94  335.38  0.35  0.131
220 2023-09-01  334.75  334.11 -0.06 -0.191
221 2023-09-04  338.28  339.10  1.05  0.242
222 2023-09-05  341.02  340.15  0.81 -0.255
223 2023-09-06  340.29  339.66 -0.21 -0.185
224 2023-09-07  337.85  336.93 -0.72 -0.272
225 2023-09-08  336.74  336.29 -0.33 -0.134
226 2023-09-11  336.40  336.52 -0.10  0.036
227 2023-09-12  337.58  338.51  0.35  0.275
228 2023-09-13  335.54  335.83 -0.60  0.086
229 2023-09-14  335.99  337.34  0.13  0.402
230 2023-09-15  341.19  341.56  1.55  0.108
231 2023-09-18  344.98  342.98  1.11 -0.580
232 2023-09-19  340.67  341.50 -1.25  0.244
233 2023-09-20  338.82  338.54 -0.54 -0.083
234 2023-09-21  338.75  336.73 -0.02 -0.596
235 2023-09-22  333.04  329.90 -1.69 -0.943
236 2023-09-25  332.02  331.40 -0.31 -0.187
237 2023-09-26  331.58  331.51 -0.13 -0.021
238 2023-09-27  326.90  325.05 -1.41 -0.566
239 2023-10-04  326.71  322.61 -0.06 -1.255
240 2023-10-05  319.45  321.46 -2.22  0.629
241 2023-10-06  318.58  319.27 -0.27  0.217